@use './variables';

.infoProjectIllu {
    justify-self: center;
    align-self: center;
    padding: 5vh 25vmin;
    position: relative;
    width: 100%;
    min-height: 25vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 2.5vmin;
    text-align: center;
    .testImg {
        border-radius: 10px;
        margin-bottom: 3vmin;
        width: 100%;
        min-height: 60vh;
        background-color: red;
        background-image: url(../medias/img/illustrations/dessin-random.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        cursor: pointer;
        &.full {
            width: 100vw;
            min-height: 70vh;
            margin: 8vmin 0;
        }
        &--1 {
          background-image: url(../medias/img/illustrations/wolf-noir-blanc-rouge.jpg);
        }
    }
}

.imgOpen {
    position: sticky;
    z-index: 100;
    bottom: 0;
    top: 0;
    width: 100vw;
    min-height: 100vh;
    background-color: rgba($color: #000000, $alpha: 0.8);
    /*background-image: url(../medias/img/illustrations/dessin-random.jpg);
    /display: flex;*/
    align-items: center;
    justify-content: center;
    display: none;
    
    .imgInside {
        display: block;
        min-width: 60vw;
        height: 80vh;
        background-image: url(../medias/img/illustrations/dessin-random.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        &.dontShow {
          display: none;
        }
        &.show {
            display: block;
        }
        &--0 {
          background-image: url(../medias/img/illustrations/dessin-random.jpg);
        }
        &--1 {
          background-image: url(../medias/img/illustrations/wolf-noir-blanc-rouge.jpg);
        }
    }

    .close {
      position: absolute;
      top: 1.5vmin;
      right: 3.5vmin;
      border-radius: 100%;
      width: 100px;
      aspect-ratio: 1/1;
      background-image: url(../medias/svg/x.svg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      cursor: pointer;
      transition: 0.2s;
      transition-timing-function: ease;
      &:hover {
        opacity: 0.8;
        filter: drop-shadow(0 0 2px variables.$lightYellow);
        box-shadow: 0 0 2px variables.$lightYellow;
      }
    }
}

.dontShow {
    display: none;
}
.show {
    display: block;
}
.showFlexBack {
    height: 100%;
    display: flex;
    overflow-x: hidden;
}

@media screen and (max-width: 1200px) {
    .infoProjectIllu {
        padding: 5vh 2vw;
    }
    .imgOpen {
      .imgInside {
        width: 80vw;
      }
      .close {
        &:hover {
          box-shadow: none;
        }
      }
    }
}

@media screen and (min-width: 2000px) {
    .infoProjectIllu {
        max-width: 1600px;
        padding: 5vh 5vmin;
    }
}

/*--- Swiper ---*/

.swiper {
  width: 80%;
  height: 80%;
  border-radius: 10px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background-image: linear-gradient(variables.$OrangeWeb, variables.$Bittersweet);
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonSwiper {
  &::after {
    color: variables.$TurkeyRed;
  }
}

.swiper-slide {
  input.inputZoom {
    display: none;
  }
}

input.inputZoom[type=checkbox]:checked ~ label > img {
  transform: scale(1.4);
  object-fit: 120%;
  cursor: zoom-out;
}

.swiper-slide label {
  display: block;
  width: 100%;
  height: 80vh;
  
  img {
    transition: transform 0.2s ease;
    width: 100%;
    height: 100%;
    object-fit: contain;
    cursor: zoom-in;
  }
}

.swiper-pagination-progressbar {
  min-height: 1.5vh;
  span.swiper-pagination-progressbar-fill {
    background-color: none;
    background-image: linear-gradient(to right, variables.$TurkeyRed 50%, variables.$OrangeWeb);
  }
}

main.darkBlue {
    .buttonSwiper {
        &::after {
            color: variables.$TurkeyRed-dark-blue;
        }
    }

    .swiper-pagination-progressbar {
        span.swiper-pagination-progressbar-fill {
            background-image: linear-gradient(to right, variables.$TurkeyRed-dark-blue 50%, variables.$OrangeWeb-dark-blue);
        }
    }

    .swiper-slide {
        background-image: linear-gradient(variables.$OrangeWeb-dark-blue, variables.$TurkeyRed-dark-blue);
    }
}