/*--Footer---*/
@use './variables';

$arrayNum: (6: 2, 7: 3, 8: 4, 9: 5);
$arrayNumTwo: (6: 1, 7: 2, 8: 3, 9: 4);

footer.darkBlue {
    background-image: linear-gradient(to right, variables.$Bittersweet-dark-blue, variables.$TurkeyRed-dark-blue);
    .conteneur {
        .lien {
            &__aLien {
                color: variables.$lightYellow-dark-blue;
                &:hover {
                    color: variables.$Maize-dark-blue;
                    text-shadow: 0 2px 2px variables.$OrangeWeb-dark-blue;
                }
            }
        }
        .credit {
            em {
                &:hover {
                    text-shadow: none;
                    color: variables.$lightYellow-dark-blue;
                }
            }
        }
    }
}

footer {
    background-image: linear-gradient(to right, variables.$Bittersweet, variables.$TurkeyRed);
}

footer  {
    padding: 1em 0;
    .conteneur {
        padding: 0 20px;
        margin: auto;
        width: 100%;
        max-width: 1200px;
        display: grid;
        row-gap: 25px;
        grid-template-columns: 20% 20% 20% 20% 20%;
        grid-template-rows: 3em 3em 3em;
        @each $i, $contentI in $arrayNum {
            .lien--#{$i} {
                grid-column: $contentI;
                grid-row: 2;
            }
        }
        .lien {
            align-content: center;
            text-align: center;
            &__aLien {
                font-family: 'TitilliumLight';
                font-size: 1.1em;
                color: variables.$lightYellow;
                text-decoration: none;
                font-style: normal;
                &:hover {
                    color: variables.$Maize;
                }
            }
        }
        .credit {
            em:hover {
                color: variables.$lightYellow;
            }
        }
        .lien--10.credit {
            font-weight: bold;
            grid-row: auto;
            grid-column: span 5;
        }
    }
}

@media screen and (max-width: 768px) {
    footer {
        .conteneur {
            width: 80%;
            grid-template-columns: 50% 50%;
            grid-template-rows: 3em 3em 3em 3em 3em 3em;
            row-gap: 10px;
            @for $i from 1 through 5 {
                .lien--#{$i} {
                    grid-column: 1;
                    grid-row: $i;
                }
            }
            @for $i from 6 through 8 {
                .lien--#{$i} {
                    grid-column: 2;
                    grid-row: $i;
                }
            }
            @each $i, $contentI in $arrayNumTwo {
                .lien--#{$i} {
                    grid-column: 2;
                    grid-row: $contentI;
                }
            } 
            .lien--10.credit {
                grid-column: span 2;
                grid-row: 6;
                text-align: center;
            }
            .lien {
                text-align: left;
            }
        }
        
    }
}

@media screen and (max-width: 400px) {
    footer {
        .conteneur {
            grid-template-columns: 100%;
            grid-template-rows: 3em 3em 3em 3em 3em 3em 3em 3em 3em;
            row-gap: 10px;
            @for $i from 1 through 9 {
                .lien--#{$i} {
                    text-align: center;
                    grid-column: 1;
                    grid-row: $i;
                }
            }
            .lien--10.credit {
                grid-column: 1;
                grid-row: 10;
            }
        }
    }
}