/*--Footer---*/
@use './variables';

footer {
    background-image: linear-gradient(to right, variables.$Bittersweet, variables.$TurkeyRed);
}

footer  {
    padding: 1em 0;
    .conteneur {
        padding: 0 20px;
        margin: auto;
        width: 100%;
        max-width: 1200px;
        display: grid;
        grid-template-columns: 20% 20% 20% 20% 20%;
        grid-template-rows: 3em 3em;
        .lien {
            justify-self: center;
            &__aLien {
                font-family: 'TitilliumLight';
                font-size: 1.1em;
                color: variables.$lightYellow;
                text-decoration: none;
                font-style: normal;
                &:hover {
                    color: variables.$Maize;
                }
            }
        }
        .credit {
            grid-row: auto;
            grid-column: span 5;
            em:hover {
                color: variables.$lightYellow;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    footer {
        .conteneur {
            grid-template-columns: 100%;
            grid-template-rows: 3em 3em 3em 3em 3em 3em;
            @for $i from 1 through 6 {
                .lien--#{$i} {
                    grid-row: $i;
                }
            }
        }
        .credit {
            grid-row: 4;
        }
    }
}