@use './variables';
@use './mixins/lienMediaSociaux';


.info h1.plusInfoIllustrationText {
    text-align: center;
}

.lienPlusIllustration {
    width: 100%;
    padding: 5vh 25vmin;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    .svgSoc {
        @include lienMediaSociaux.SvgAnimeHover;
        svg {
            
        }
    }
}


.infoIllustration {
    padding: 5vh 25vmin;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(600px, auto));
    grid-template-rows: repeat(auto-fill, minmax(700px, auto));
    gap: 2vmin;
    .illustration {
        position: relative;
        background-image: linear-gradient(variables.$TurkeyRed, variables.$Bittersweet);
        padding: 0.5em;
        border-radius: 5px;
        display: flex;
        &__img {
            display: block;
            width: 100%;
            object-fit: cover;
        }
    }
}

@media screen and (max-width: 1200px) {
    .infoIllustration {
        grid-template-columns: repeat(auto-fill, minmax(300px, auto));
        grid-template-rows: repeat(auto-fill, minmax(400px, auto));
        padding: 5vh 2vw;
    }
}