$black: #000;
$lightYellow: #feffdc;
$Maize: #ffeb69;
$OrangeWeb: #ffb23e; 
$Bittersweet: #ff6262;
$TurkeyRed: #a90000;
$red: rgb(255, 51, 51);

/*dark Blue*/
$lightYellow-dark-blue: #010023;
$Maize-dark-blue: #001496;
$OrangeWeb-dark-blue: #004dc1; 
$Bittersweet-dark-blue: #009d9d;
$TurkeyRed-dark-blue: #56ffff;
$TurkeyRed-lignter-dark-blue: #a3f9ff;
$red-dark-blue: rgb(51, 54, 255);

/* Couleur Original
$lightYellow: #feffdc;
$Maize: #ffeb69;
$OrangeWeb: #ffb23e; 
$Bittersweet: #ff6262;
$TurkeyRed: #a90000;
$red: rgb(255, 51, 51);
*/
/*dark v1*/
/*
$lightYellow-dark-blue: #d1d1d1;
$Maize-dark-blue: #4e4e4e;
$OrangeWeb-dark-blue: #353535; 
$Bittersweet-dark-blue: #1e1e1e;
$TurkeyRed-dark-blue: #000000;
$red-dark-blue: rgb(51, 54, 255);
*/
/*dark v2*/
/*
$lightYellow-dark-blue: #ab97d2;
$Maize-dark-blue: #9185b0;
$OrangeWeb-dark-blue: #755a94; 
$Bittersweet-dark-blue: #472373;
$TurkeyRed-dark-blue: #2a0159;
$red-dark-blue: rgb(51, 54, 255);
*/