$black: #000;
$lightYellow: #feffdc;
$Maize: #ffeb69;
$OrangeWeb: #ffb23e; 
$Bittersweet: #ff6262;
$TurkeyRed: #a90000;
$red: rgb(255, 51, 51);
/* Couleur Original
$lightYellow: #feffdc;
$Maize: #ffeb69;
$OrangeWeb: #ffb23e; 
$Bittersweet: #ff6262;
$TurkeyRed: #a90000;
$red: rgb(255, 51, 51);
*/