@charset "UTF-8";
/*dark Blue*/
/* Couleur Original
$lightYellow: #feffdc;
$Maize: #ffeb69;
$OrangeWeb: #ffb23e; 
$Bittersweet: #ff6262;
$TurkeyRed: #a90000;
$red: rgb(255, 51, 51);
*/
/*dark v1*/
/*
$lightYellow-dark-blue: #d1d1d1;
$Maize-dark-blue: #4e4e4e;
$OrangeWeb-dark-blue: #353535; 
$Bittersweet-dark-blue: #1e1e1e;
$TurkeyRed-dark-blue: #000000;
$red-dark-blue: rgb(51, 54, 255);
*/
/*dark v2*/
/*
$lightYellow-dark-blue: #ab97d2;
$Maize-dark-blue: #9185b0;
$OrangeWeb-dark-blue: #755a94; 
$Bittersweet-dark-blue: #472373;
$TurkeyRed-dark-blue: #2a0159;
$red-dark-blue: rgb(51, 54, 255);
*/
/*Changment de couleur svg*/
main.darkBlue {
  /*--Lien medias sociaux--*/
}
main.darkBlue .iconPage svg .cls-1.lineSVG {
  fill: #004dc1;
}
main.darkBlue .iconPage svg .cls-2.lineSVG {
  fill: #001496;
}
main.darkBlue .iconPage svg .cls-3.lineSVG {
  fill: #010023;
}
main.darkBlue .iconPage svg .lineSVGTwo {
  stroke: #56ffff;
  stroke-width: 0;
}
main.darkBlue .iconPage svg .cls-1.lineSVGTwo, main.darkBlue .iconSVGWeb .cls-1.lineSVGTwo {
  fill: #004dc1;
}
main.darkBlue .iconPage svg .cls-2.lineSVGTwo, main.darkBlue .iconSVGWeb .cls-2.lineSVGTwo {
  fill: #56ffff;
}
main.darkBlue .iconPage svg .cls-3.lineSVGTwo, main.darkBlue .iconSVGWeb .cls-3.lineSVGTwo {
  fill: #009d9d;
}
main.darkBlue .illustrationIcon .cls-1, main.darkBlue .cls-2 {
  fill: #56ffff;
}
main.darkBlue .illustrationIcon .cls-3 {
  fill: #001496;
}
main.darkBlue .illustrationIcon .cls-4 {
  fill: url(#Dégradé_sans_nom_16);
}
main.darkBlue .illustrationIcon .cls-5, main.darkBlue .illustrationIcon .cls-6, main.darkBlue .illustrationIcon .cls-2 {
  stroke: #56ffff;
  stroke-miterlimit: 10;
}
main.darkBlue .illustrationIcon .cls-5, main.darkBlue .illustrationIcon .cls-7 {
  fill: rgb(51, 54, 255);
}
main.darkBlue .illustrationIcon .cls-6 {
  fill: #004dc1;
}
main.darkBlue .iconPage .iconEdit {
  fill: #010023;
  stroke: #56ffff;
}
main.darkBlue .lienPlusIllustration .svgSoc {
  position: relative;
  display: flex;
  align-items: center;
  aspect-ratio: 1/1;
  z-index: 5;
}
main.darkBlue .lienPlusIllustration .svgSoc svg path {
  transition-duration: 0.2s;
}
main.darkBlue .lienPlusIllustration .svgSoc::after {
  content: "";
  display: block;
  z-index: -1;
  width: 0;
  left: 50%;
  transform: translateX(-50%);
  transform-origin: center;
  position: absolute;
  background-color: #ff6262;
  background-size: cover;
  border-radius: 25px;
  transition-duration: 0.2s;
}
main.darkBlue .lienPlusIllustration .svgSoc:hover::after {
  width: 105%;
  aspect-ratio: 1/1;
}
main.darkBlue .lienPlusIllustration .svgSoc:hover svg .in {
  fill: red;
}
main.darkBlue .lienPlusIllustration .svgSoc:hover svg .lineOut {
  stroke-width: 0;
}
main.darkBlue .lienPlusIllustration .svgSoc:hover svg .out {
  fill: #fff;
}
main.darkBlue .lienPlusIllustration .svgSoc:hover svg .smallCircle {
  fill: #fff;
}
main.darkBlue .lienPlusIllustration .svgSoc:hover svg .lineMiddle, main.darkBlue .lienPlusIllustration .svgSoc:hover svg .lineIn {
  stroke: #fff;
  stroke-width: 8;
}
main.darkBlue .lienPlusIllustration .svgSoc:hover svg .gradientTop {
  stop-color: #344997;
}
main.darkBlue .lienPlusIllustration .svgSoc:hover svg .gradientMiddle {
  stop-color: #E71A4A;
}
main.darkBlue .lienPlusIllustration .svgSoc:hover svg .gradientBottom {
  stop-color: #F3BF18;
}
main.darkBlue .lienPlusIllustration .svgSoc svg .in {
  fill: #010023;
}
main.darkBlue .lienPlusIllustration .svgSoc svg .lineOut {
  stroke-width: 6;
  stroke: #56ffff;
}
main.darkBlue .lienPlusIllustration .svgSoc svg .out {
  fill: #56ffff;
}
main.darkBlue .lienPlusIllustration .svgSoc svg .smallCircle {
  fill: #010023;
}
main.darkBlue .lienPlusIllustration .svgSoc svg .lineMiddle, main.darkBlue .lienPlusIllustration .svgSoc svg .lineIn {
  stroke: #010023;
  stroke-width: 6;
}
main.darkBlue .lienPlusIllustration .svgSoc svg .gradientTop {
  stop-color: #56ffff;
}
main.darkBlue .lienPlusIllustration .svgSoc svg .gradientMiddle {
  stop-color: #009d9d;
}
main.darkBlue .lienPlusIllustration .svgSoc svg .gradientBottom {
  stop-color: #010023;
}
main.darkBlue .lienPlusIllustration .svgSoc::after {
  background-color: #009d9d;
}

.iconPage svg .cls-1.lineSVG {
  fill: #ffb23e;
}

.iconPage svg .cls-2.lineSVG {
  fill: #ffeb69;
}

.iconPage svg .cls-3.lineSVG {
  fill: #feffdc;
}

.iconPage svg .lineSVGTwo {
  stroke: #a90000;
  stroke-width: 0;
}

.iconPage svg .cls-1.lineSVGTwo, .iconSVGWeb .cls-1.lineSVGTwo {
  fill: #ffb23e;
}

.iconPage svg .cls-2.lineSVGTwo, .iconSVGWeb .cls-2.lineSVGTwo {
  fill: #a90000;
}

.iconPage svg .cls-3.lineSVGTwo, .iconSVGWeb .cls-3.lineSVGTwo {
  fill: #ff6262;
}

.illustrationIcon .cls-1, .cls-2 {
  fill: #a90000;
}

.illustrationIcon .cls-3 {
  fill: #ffeb69;
}

.illustrationIcon .cls-4 {
  fill: url(#Dégradé_sans_nom_15);
}

.illustrationIcon .cls-5, .illustrationIcon .cls-6, .illustrationIcon .cls-2 {
  stroke: #a90000;
  stroke-miterlimit: 10;
}

.illustrationIcon .cls-5, .illustrationIcon .cls-7 {
  fill: rgb(255, 51, 51);
}

.illustrationIcon .cls-6 {
  fill: #ffb23e;
}

.iconPage .iconEdit {
  fill: #feffdc;
  stroke: #a90000;
}

/*Fin changment de couleur svg*/
/*-------Navigation--------*/
.bgNav.darkBlue {
  background-image: linear-gradient(to right, #56ffff, #009d9d);
  /*----Code de w3School----*/
  /* Dropdown Button */
  /* The container <div> - needed to position the dropdown content */
  /* Dropdown Content (Hidden by Default) */
  /* Links inside the dropdown */
  /* Change color of dropdown links on hover */
  /* Show the dropdown menu on hover */
  /* Change the background color of the dropdown button when the dropdown content is shown */
  /*----Fin Code de w3School----*/
}
.bgNav.darkBlue .navigationAccueil .lien a.lienPage {
  color: #010023;
}
.bgNav.darkBlue .navigationAccueil .lien a.lienPage::after, .bgNav.darkBlue .navigationAccueil .lien a.lienPage::before {
  background-color: #010023;
}
.bgNav.darkBlue .navigationAccueil .lienPage.logoNav, .bgNav.darkBlue .navigationAccueil .lienPage.logoNavMobile {
  color: #010023;
}
.bgNav.darkBlue .dropbtn {
  background-color: #56ffff;
  color: #010023;
  border: none;
  display: none;
  border-radius: 10px;
  padding: 15px;
}
.bgNav.darkBlue .dropdown {
  position: relative;
  display: inline-block;
}
.bgNav.darkBlue .dropdown-content {
  border-radius: 10px;
  display: none;
  position: absolute;
  background-color: #010023;
  min-width: 15vw;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.bgNav.darkBlue .dropdown-content a {
  color: #56ffff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.bgNav.darkBlue .dropdown-content a:hover {
  background-color: #001496;
  border-radius: 10px;
}
.bgNav.darkBlue .dropdown:hover .dropdown-content {
  display: block;
}
.bgNav.darkBlue .dropdown:hover .dropbtn {
  background-color: #009d9d;
}

.bgNav {
  z-index: 10;
  position: fixed;
  width: 100vw;
  min-height: 10vh;
  height: auto;
  background-image: linear-gradient(to right, #a90000, #ff6262);
  display: flex;
  align-items: center;
}
.bgNav .navigationAccueil {
  height: 100%;
  width: calc(100% - 1vw);
  max-width: 1300px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  padding: 0 1vw;
  /*--Text--*/
  font-family: "BebasNeue";
  letter-spacing: 0.1em;
}
.bgNav .navigationAccueil .logos {
  height: 100%;
  display: flex;
  align-items: center;
}
.bgNav .navigationAccueil .logos .logoNav, .bgNav .navigationAccueil .logos .logoNavMobile {
  align-self: center;
  justify-self: start;
  font-size: 24px;
}
.bgNav .navigationAccueil .logos .lienPage.logoNavMobile {
  display: none;
}
.bgNav .navigationAccueil .lien {
  width: 100%;
  justify-self: flex-end;
  display: flex;
  justify-content: space-between;
}
.bgNav .navigationAccueil .lien a.lienPage {
  text-align: center;
  width: auto;
  font-size: 1.5em;
  padding: 0 0.5vw;
  color: #feffdc;
  text-decoration: none;
  font-weight: bold;
  position: relative;
  align-self: center;
}
.bgNav .navigationAccueil .lien a.lienPage::after, .bgNav .navigationAccueil .lien a.lienPage::before {
  content: "";
  display: inline-block;
  position: absolute;
  bottom: -0.3vh;
  left: 0;
  width: 100%;
  height: 0.3vh;
  background-color: #feffdc;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}
.bgNav .navigationAccueil .lien a.lienPage::before {
  bottom: auto;
  top: 0;
}
.bgNav .navigationAccueil .lien a.lienPage:hover::after, .bgNav .navigationAccueil .lien a.lienPage:hover::before {
  transform: scaleX(1);
}
.bgNav .navigationAccueil .lienPage.logoNav, .bgNav .navigationAccueil .lienPage.logoNavMobile {
  font-size: 1.5em;
  padding: 0 0.5vw;
  color: #feffdc;
  text-decoration: none;
  font-weight: bold;
  position: relative;
  align-self: center;
}

/*----Code de w3School----*/
/* Dropdown Button */
.dropbtn {
  background-color: #a90000;
  color: #feffdc;
  border: none;
  display: none;
  border-radius: 10px;
  padding: 15px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  border-radius: 10px;
  display: none;
  position: absolute;
  background-color: #feffdc;
  min-width: 15vw;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: #a90000;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ffeb69;
  border-radius: 10px;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: var(--Bittersweet);
}

/*----Fin Code de w3School----*/
@media screen and (max-width: 768px) {
  .bgNav.darkBlue .navigationAccueil .dropbtn {
    display: grid;
  }
  .bgNav .navigationAccueil {
    grid-template-columns: 60% 40%;
    grid-template-rows: auto;
  }
  .bgNav .navigationAccueil .logos {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
  }
  .bgNav .navigationAccueil .logos .logoNavMobile.lienPage {
    display: inline;
    width: auto;
    grid-column: 1;
    grid-row: 1;
    font-size: 36px;
  }
  .bgNav .navigationAccueil .lien {
    display: none;
  }
  .bgNav .navigationAccueil .dropdown {
    display: grid;
    grid-column: 100%;
    grid-template-rows: 100% auto;
    padding: 2vmin 0;
  }
  .bgNav .navigationAccueil .dropdown .dropbtn {
    grid-column: 1;
    width: 100%;
    font-size: 20px;
  }
  .bgNav .navigationAccueil .dropdown .dropdown-content {
    grid-column: 1;
    grid-row: 2;
  }
  .bgNav .navigationAccueil .dropdown .dropdown-content a {
    font-size: 20px;
  }
}
/*-------Section Hero--------*/
main.darkBlue {
  /*-- Section Hero Page A propos --*/
  /*-- Section Hero Page 3D --*/
  /*-- Section Hero Page Illustration --*/
  /*-- Section Hero Page Montage --*/
}
main.darkBlue .hero {
  background-image: url(./medias/img/dessin_papier/dessin-1-bonsoir.webp), radial-gradient(#009d9d, #001496);
}
main.darkBlue .hero .conteneur .photoVG {
  border: 1vw solid #009d9d;
  box-shadow: 0 0 1vw #009d9d;
  background-blend-mode: difference;
}
main.darkBlue .hero .conteneur .photoVG:hover {
  border: 2vw solid #56ffff;
  box-shadow: 0 0 3vw #56ffff;
  background-blend-mode: normal;
}
main.darkBlue .hero .conteneur .infoHero {
  color: #010023;
}
main.darkBlue .hero .conteneur .infoHero .contact button {
  background-color: #001496;
  border: none;
  color: #56ffff;
}
main.darkBlue .hero .conteneur .infoHero .contact button a {
  color: #56ffff;
}
main.darkBlue .hero .conteneur .infoHero .contact button:hover {
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #001496;
  color: #001496;
}
main.darkBlue .hero .conteneur .infoHero .contact button:hover a {
  color: #001496;
}
main.darkBlue .hero .conteneur .infoHero .contact button:active {
  background-image: linear-gradient(to top, #004dc1, rgba(0, 0, 0, 0));
}
main.darkBlue .hero .titre--hero {
  color: #56ffff;
  text-shadow: 5px 5px #010023;
}
main.darkBlue .hero__conteneurIcon .iconPage {
  background-image: radial-gradient(#009d9d 10%, #004dc1);
}
main.darkBlue .hero__conteneurIcon .iconPage:hover {
  background-image: radial-gradient(#009d9d 50%, #004dc1);
}
main.darkBlue .hero.page.Projet1 {
  background-image: url(./medias/svg/web-v1.svg), linear-gradient(#009d9d, #001496);
  background-blend-mode: luminosity;
  background-size: 100%, cover;
  background-position: center;
}
main.darkBlue .hero.page.APropos {
  background-image: url(./medias/img/photo/essai-1_carre-v1.jpg), linear-gradient(#009d9d, #001496);
  background-position: 50% 40%;
  background-blend-mode: luminosity;
}
main.darkBlue .hero.page.TroisD {
  background-image: url(./medias/img/icon.png), linear-gradient(#009d9d, #001496);
  background-blend-mode: luminosity;
}
main.darkBlue .hero.page.Illustration {
  background-image: url(./medias/img/dessin_papier/dessin-1-bonsoir.webp), linear-gradient(#009d9d, #001496);
  background-blend-mode: luminosity;
}
main.darkBlue .hero.page.Montage {
  background-image: url(./medias/svg/editing_svg.svg), linear-gradient(#009d9d, #001496);
  background-blend-mode: luminosity;
}

.hero {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  height: auto;
  background-image: url(./medias/img/dessin_papier/dessin-1.JPG), radial-gradient(#ff6262, #ffeb69);
  background-size: cover, 100%;
  background-repeat: no-repeat, no-repeat;
  background-position: 50% 20%, left;
  background-blend-mode: multiply;
}
.hero .conteneur {
  margin-top: 50px;
  height: auto;
  min-height: 100vh;
  padding: 10vh 0;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  max-width: 1200px;
  display: grid;
  grid-template-columns: 60% 40%;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.hero .conteneur .infoHero {
  width: 100%;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 25px;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  color: #feffdc;
}
.hero .conteneur .infoHero .contact {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.hero .conteneur .infoHero .contact button {
  margin-left: 0.5em;
  border-radius: 25px;
  background-color: #ffeb69;
  border: none;
  color: #a90000;
}
.hero .conteneur .infoHero .contact button:hover {
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #ffeb69;
  color: #ffeb69;
}
.hero .conteneur .infoHero .contact button:hover a {
  color: #ffeb69;
}
.hero .conteneur .infoHero .contact button:active {
  background-image: linear-gradient(to top, #ffb23e, rgba(0, 0, 0, 0));
}
.hero .conteneur .infoHero .contact button a {
  color: #a90000;
}
.hero .conteneur .photoVGContainer {
  order: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero .titre--hero {
  font-size: 16vmin;
  color: #feffdc;
  text-align: center;
  text-shadow: 5px 5px #a90000;
}
.hero__conteneurIcon {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18vmin, auto));
  gap: 2vmin;
}
.hero__conteneurIcon .iconPage {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  /*height: 100%;
  width: 10vw;*/
  aspect-ratio: 1/1;
  background-image: radial-gradient(#ff6262 10%, #ffb23e);
  background-size: 100%;
  border-radius: 50%;
  text-align: center;
}
.hero__conteneurIcon .iconPage:hover {
  background-image: radial-gradient(#ff6262 50%, #ffb23e);
}
.hero__conteneurIcon .iconPage svg {
  width: 50%;
  aspect-ratio: 1/1;
  transition: width 0.25s ease-out;
}
.hero__conteneurIcon .iconPage svg:hover {
  width: 75%;
}
.hero__conteneurIcon .iconPage svg:active {
  width: 60%;
}
.hero__conteneurIcon .iconPage svg .lineSVG {
  stroke: #a90000;
  stroke-width: 0;
}

@media screen and (min-width: 1200px) {
  .hero .conteneur .infoHero {
    align-self: center;
    min-height: 75%;
    max-height: 100%;
  }
}
@media screen and (max-width: 1200px) {
  .hero {
    height: auto;
  }
  .hero__conteneurIcon {
    display: grid;
    gap: 2vmin;
  }
  .hero__conteneurIcon .iconPage {
    width: 100%;
    height: 100%;
  }
  .hero .conteneur {
    position: relative;
    height: auto;
  }
  .hero .conteneur .infoHero {
    margin: auto;
  }
  .hero .conteneur .infoHero .contact button {
    font-size: 24px;
  }
  .hero .conteneur .photoVGContainer {
    position: relative;
    width: 100%;
    /*
    .photoVG {
        //width: 100%;
        //max-width: none;
        //aspect-ratio: 1/1;
    }
        */
  }
}
@media screen and (max-width: 768px) {
  .hero {
    min-height: 100vh;
    height: auto;
  }
  .hero .conteneur {
    margin-bottom: 10vh;
    margin-top: 0;
    height: auto;
    grid-template-columns: 100%;
    grid-template-rows: 40% 60%;
  }
  .hero .conteneur .photoVGContainer {
    grid-row: 1;
    margin-bottom: 6vh;
    display: flex;
    justify-content: center;
  }
  .hero .conteneur .photoVGContainer a {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .hero .conteneur .photoVGContainer a .photoVG {
    margin-top: 4em;
    width: 60vw;
    height: 60vw;
  }
  .hero .conteneur .infoHero {
    grid-row: 2;
  }
  .hero .conteneur .infoHero h1 {
    font-size: 64px;
  }
  .hero .conteneur .infoHero .text {
    font-size: 24px;
  }
  .hero .conteneur .infoHero .contact {
    font-size: 28px;
  }
  .hero__conteneurIcon {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25vw, auto));
    gap: 2vmin;
  }
  .hero__conteneurIcon .iconPage {
    width: 100%;
    height: 100%;
  }
}
.hero.page {
  min-height: 80vh;
}

/*-- Section Hero Page Projet 1 --*/
.hero.page.Projet1 {
  background-image: url(./medias/svg/web-v1.svg), linear-gradient(#ff6262, #ffeb69);
  background-blend-mode: luminosity;
  background-size: 100%, cover;
  background-position: center;
}

/*-- Section Hero Page A propos --*/
.hero.page.APropos {
  background-image: url(./medias/img/photo/essai-1_carre-v1.jpg), linear-gradient(#ff6262, #ffeb69);
  background-position: 50% 40%;
  background-blend-mode: luminosity;
}

/*-- Section Hero Page 3D --*/
.hero.page.TroisD {
  background-image: url(./medias/img/icon.png), linear-gradient(#ff6262, #ffeb69);
  background-blend-mode: luminosity;
}

/*-- Section Hero Page Illustration --*/
.hero.page.Illustration {
  background-image: url(./medias/img/dessin_papier/dessin-1.JPG), linear-gradient(#ff6262, #ffeb69);
  background-blend-mode: luminosity;
}

/*-- Section Hero Page Montage --*/
.hero.page.Montage {
  background-image: url(./medias/svg/editing_svg.svg), linear-gradient(#ff6262, #ffeb69);
  background-blend-mode: luminosity;
}

a {
  width: 100%;
}
a .photoVG {
  width: 100%;
  aspect-ratio: 1/1;
  background-image: url(./medias/img/photo/essai-1_v1.jpg), url(./medias/img/icon.png);
  background-repeat: no-repeat, repeat-x;
  background-size: cover, 150%;
  background-position: 100% 20%, center;
  background-blend-mode: luminosity;
  border-radius: 50%;
  border: 1vw solid #ff6262;
  box-shadow: 0 0 1vw #ff6262;
  transition: border 0.1s ease-in, box-shadow 0.2s ease-in-out, background-blend-mode 0.2s ease-in-out;
}
a .photoVG:hover {
  border: 2vw solid #a90000;
  box-shadow: 0 0 3vw #a90000;
  background-blend-mode: normal;
}
a .photoVG:active {
  border-width: 1vw;
}

main.darkBlue .infoIllustration .illustration {
  background-image: linear-gradient(#56ffff, #009d9d);
}

.info h1.plusInfoIllustrationText {
  text-align: center;
}

.lienPlusIllustration {
  width: 100%;
  padding: 5vh 25vmin;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.lienPlusIllustration .svgSoc {
  margin: 0 2vmin;
  height: 200px;
  position: relative;
  display: flex;
  align-items: center;
  aspect-ratio: 1/1;
  z-index: 5;
}
.lienPlusIllustration .svgSoc svg path {
  transition-duration: 0.2s;
}
.lienPlusIllustration .svgSoc::after {
  content: "";
  display: block;
  z-index: -1;
  width: 0;
  left: 50%;
  transform: translateX(-50%);
  transform-origin: center;
  position: absolute;
  background-color: #ff6262;
  background-size: cover;
  border-radius: 25px;
  transition-duration: 0.2s;
}
.lienPlusIllustration .svgSoc:hover::after {
  width: 105%;
  aspect-ratio: 1/1;
}
.lienPlusIllustration .svgSoc:hover svg .in {
  fill: red;
}
.lienPlusIllustration .svgSoc:hover svg .lineOut {
  stroke-width: 0;
}
.lienPlusIllustration .svgSoc:hover svg .out {
  fill: #fff;
}
.lienPlusIllustration .svgSoc:hover svg .smallCircle {
  fill: #fff;
}
.lienPlusIllustration .svgSoc:hover svg .lineMiddle, .lienPlusIllustration .svgSoc:hover svg .lineIn {
  stroke: #fff;
  stroke-width: 8;
}
.lienPlusIllustration .svgSoc:hover svg .gradientTop {
  stop-color: #344997;
}
.lienPlusIllustration .svgSoc:hover svg .gradientMiddle {
  stop-color: #E71A4A;
}
.lienPlusIllustration .svgSoc:hover svg .gradientBottom {
  stop-color: #F3BF18;
}

.infoIllustration {
  padding: 5vh 25vmin;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(600px, auto));
  grid-template-rows: repeat(auto-fill, minmax(700px, auto));
  gap: 2vmin;
}
.infoIllustration .illustration {
  position: relative;
  background-image: linear-gradient(#a90000, #ff6262);
  padding: 0.5em;
  border-radius: 5px;
  display: flex;
}
.infoIllustration .illustration__img {
  display: block;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 1200px) {
  .infoIllustration {
    grid-template-columns: repeat(auto-fill, minmax(300px, auto));
    grid-template-rows: repeat(auto-fill, minmax(400px, auto));
    padding: 5vh 2vw;
  }
}
@media screen and (max-width: 768px) {
  .lienPlusIllustration .svgSoc {
    height: 120px;
  }
}
/*--Footer---*/
footer.darkBlue {
  background-image: linear-gradient(to right, #009d9d, #56ffff);
}
footer.darkBlue .conteneur .lien__aLien {
  color: #010023;
}
footer.darkBlue .conteneur .lien__aLien:hover {
  color: #001496;
  text-shadow: 0 2px 2px #004dc1;
}
footer.darkBlue .conteneur .credit em:hover {
  text-shadow: none;
  color: #010023;
}

footer {
  background-image: linear-gradient(to right, #ff6262, #a90000);
}

footer {
  padding: 1em 0;
}
footer .conteneur {
  padding: 0 20px;
  margin: auto;
  width: 100%;
  max-width: 1200px;
  display: grid;
  row-gap: 10px;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 3em 3em 3em;
}
footer .conteneur .lien--6 {
  grid-column: 2;
  grid-row: 2;
}
footer .conteneur .lien--7 {
  grid-column: 3;
  grid-row: 2;
}
footer .conteneur .lien--8 {
  grid-column: 4;
  grid-row: 2;
}
footer .conteneur .lien {
  align-content: center;
  text-align: center;
}
footer .conteneur .lien__aLien {
  font-family: "TitilliumLight";
  font-size: 1.1em;
  color: #feffdc;
  text-decoration: none;
  font-style: normal;
}
footer .conteneur .lien__aLien:hover {
  color: #ffeb69;
}
footer .conteneur .credit em:hover {
  color: #feffdc;
}
footer .conteneur .lien--9.credit {
  grid-row: auto;
  grid-column: span 5;
}

@media screen and (max-width: 768px) {
  footer .conteneur {
    width: 80%;
    grid-template-columns: 50% 50%;
    grid-template-rows: 3em 3em 3em 3em 3em 3em;
  }
  footer .conteneur .lien--1 {
    grid-column: 1;
    grid-row: 1;
  }
  footer .conteneur .lien--2 {
    grid-column: 1;
    grid-row: 2;
  }
  footer .conteneur .lien--3 {
    grid-column: 1;
    grid-row: 3;
  }
  footer .conteneur .lien--4 {
    grid-column: 1;
    grid-row: 4;
  }
  footer .conteneur .lien--5 {
    grid-column: 1;
    grid-row: 5;
  }
  footer .conteneur .lien--6 {
    grid-column: 2;
    grid-row: 6;
  }
  footer .conteneur .lien--7 {
    grid-column: 2;
    grid-row: 7;
  }
  footer .conteneur .lien--8 {
    grid-column: 2;
    grid-row: 8;
  }
  footer .conteneur .lien--6 {
    grid-column: 2;
    grid-row: 1;
  }
  footer .conteneur .lien--7 {
    grid-column: 2;
    grid-row: 2;
  }
  footer .conteneur .lien--8 {
    grid-column: 2;
    grid-row: 3;
  }
  footer .conteneur .lien--9.credit {
    grid-column: span 2;
    grid-row: 6;
    text-align: center;
  }
  footer .conteneur .lien {
    text-align: left;
  }
}
@media screen and (max-width: 400px) {
  footer .conteneur {
    grid-template-columns: 100%;
    grid-template-rows: 3em 3em 3em 3em 3em 3em 3em 3em 3em;
  }
  footer .conteneur .lien--1 {
    text-align: center;
    grid-column: 1;
    grid-row: 1;
  }
  footer .conteneur .lien--2 {
    text-align: center;
    grid-column: 1;
    grid-row: 2;
  }
  footer .conteneur .lien--3 {
    text-align: center;
    grid-column: 1;
    grid-row: 3;
  }
  footer .conteneur .lien--4 {
    text-align: center;
    grid-column: 1;
    grid-row: 4;
  }
  footer .conteneur .lien--5 {
    text-align: center;
    grid-column: 1;
    grid-row: 5;
  }
  footer .conteneur .lien--6 {
    text-align: center;
    grid-column: 1;
    grid-row: 6;
  }
  footer .conteneur .lien--7 {
    text-align: center;
    grid-column: 1;
    grid-row: 7;
  }
  footer .conteneur .lien--8 {
    text-align: center;
    grid-column: 1;
    grid-row: 8;
  }
  footer .conteneur .lien--9 {
    text-align: center;
    grid-column: 1;
    grid-row: 9;
  }
  footer .conteneur .lien--9.credit {
    grid-column: 1;
    grid-row: 9;
  }
}
@keyframes marche {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 4800% 0;
  }
  /* Note: 19 images x 700px = 13300px */
}
main.darkBlue .cardInfoWeb__imgProject, main.darkBlue .cardInfo3D__imgProject {
  border: 0 solid #56ffff;
  transition-duration: 0.2s;
  transition-timing-function: linear;
}
main.darkBlue .cardInfoWeb__imgProject:hover, main.darkBlue .cardInfo3D__imgProject:hover {
  box-shadow: 0 0.2em 0.5em rgba(0, 0, 0, 0.5);
  border: 1em solid #56ffff;
}

main .cardInfoWeb, main .cardInfo3D {
  margin-bottom: 5vh;
}
main .cardInfoWeb__imgProject, main .cardInfo3D__imgProject {
  min-width: 30vw;
  max-width: 60vw;
  aspect-ratio: 16/9;
  margin: auto;
  height: auto;
  border-radius: 6px;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  border: 0 solid #a90000;
}
main .cardInfoWeb__imgProject:hover, main .cardInfo3D__imgProject:hover {
  transform: translateY(-0.8em);
  box-shadow: 0 0.2em 0.5em rgba(0, 0, 0, 0.5);
  border: 1em solid #a90000;
}

@media screen and (max-width: 1200px) {
  section.infoProjet .card img {
    max-width: 45vw;
    height: auto;
  }
  .cardInfoWeb__imgProject, .cardInfo3D__imgProject {
    min-width: 30vw;
    max-width: 80vw;
    aspect-ratio: 16/9;
    margin: auto;
    height: auto;
  }
}
@media screen and (max-width: 768px) {
  section.infoProjet .card img {
    max-width: 100vw;
    height: auto;
  }
}
main.darkBlue section.info.infoAPropos .conteneur__titre {
  color: #010023;
}
main.darkBlue section.info.infoAPropos .conteneur .text__listPoint {
  background-color: #004dc1;
  color: #56ffff;
}
main.darkBlue section.info.infoAPropos .conteneur .text__listPoint:hover {
  background-color: #56ffff;
  color: #004dc1;
  text-shadow: 0px 0px 5px #010023;
}
main.darkBlue section.info.infoAPropos .conteneur .text__listPoint:hover .logoList {
  filter: drop-shadow(0px 0px 5px #004dc1);
}
main.darkBlue section.info.infoAPropos .conteneur .text--capacite {
  color: #56ffff;
  text-shadow: 0px 0px 5px #010023;
}

main .hero.APropos {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
}
main .hero.APropos .titre {
  align-self: end;
}
main section.info.infoAPropos {
  width: 100%;
  position: relative;
}
main section.info.infoAPropos .conteneur {
  position: relative;
  padding: 10vh 0;
  width: 90%;
  margin: auto;
  max-width: 1200px;
  display: grid;
  grid-template-columns: auto auto;
  -moz-column-gap: 25px;
       column-gap: 25px;
}
main section.info.infoAPropos .conteneur__titre {
  text-align: center;
  grid-column: span 2;
  grid-row: 1;
}
main section.info.infoAPropos .conteneur__titre h1 {
  font-size: 4em;
}
main section.info.infoAPropos .conteneur__start {
  grid-column: 1;
  grid-row: 2;
}
main section.info.infoAPropos .conteneur__end {
  grid-column: 2;
  grid-row: 2;
}
main section.info.infoAPropos .conteneur__startTwo {
  grid-row: 3;
}
main section.info.infoAPropos .conteneur__EndTwo {
  grid-row: 3;
}
main section.info.infoAPropos .conteneur__center {
  padding: 5vh 0;
  text-align: center;
  grid-column: span 2;
  grid-row: 4;
}
main section.info.infoAPropos .conteneur .text {
  width: 100%;
}
main section.info.infoAPropos .conteneur .text__list {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, auto));
  gap: 10px;
  margin: 0;
  padding: 0;
}
main section.info.infoAPropos .conteneur .text__list--3D {
  grid-template-columns: 90%;
  grid-template-rows: 30vh;
}
main section.info.infoAPropos .conteneur .text__list--3D .text__listPoint .logoList {
  height: 30vh;
}
main section.info.infoAPropos .conteneur .text__list--2D {
  grid-template-columns: repeat(auto-fill, minmax(130px, auto));
}
main section.info.infoAPropos .conteneur .text__list--2D .text__listPoint .logoList {
  height: 20vh;
}
main section.info.infoAPropos .conteneur .text__listPoint {
  background-color: #ffb23e;
  color: #a90000;
  border-radius: 25px;
  padding: 10px;
  font-size: 20px;
  text-shadow: 0px 0px 0px #feffdc;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  transition-duration: 0.2s;
}
main section.info.infoAPropos .conteneur .text__listPoint .logoList {
  align-self: end;
  border-radius: 10px;
}
main section.info.infoAPropos .conteneur .text__listPoint:hover {
  transform: translateY(-10px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  background-color: #a90000;
  color: #ffb23e;
  text-shadow: 0px 0px 5px #feffdc;
}
main section.info.infoAPropos .conteneur .text__listPoint:hover .logoList {
  filter: drop-shadow(0px 0px 5px #ffb23e);
}
main section.info.infoAPropos .conteneur .text__listPoint--bigger {
  grid-column: span 2;
}
main section.info.infoAPropos .conteneur .text__listPoint--3D {
  grid-row: span 2;
  grid-column: 1/4;
}
main section.info.infoAPropos .conteneur .text__listPoint--adobe {
  grid-row: span 2;
  grid-column: span 2;
  display: grid;
  grid-template-columns: 50% 50%;
}
main section.info.infoAPropos .conteneur .text__listPoint--adobe p.textAdobe {
  grid-column: span 2;
}
main section.info.infoAPropos .conteneur .text__listPoint--adobe .logoList {
  justify-self: center;
}
main section.info.infoAPropos .conteneur .text__listPoint--adobe .logoList--adobe1 {
  grid-column: span 2;
  grid-row: 2;
}
main section.info.infoAPropos .conteneur .text__listPoint--adobe .logoList--adobe2 {
  grid-row: 3;
}
main section.info.infoAPropos .conteneur .text__listPoint--adobe .logoList--adobe3 {
  grid-row: 3;
}
main section.info.infoAPropos .conteneur .text__listPoint .logoList {
  align-self: center;
  width: auto;
  height: 10vh;
}
main section.info.infoAPropos .conteneur .text__listPoint .logoList--large {
  max-width: 100%;
  max-height: 10vh;
}
main section.info.infoAPropos .conteneur .text--capacite {
  color: #a90000;
  text-shadow: 0px 0px 5px #feffdc;
}

@media screen and (min-width: 1200px) {
  main section.info.infoAPropos .conteneur {
    padding: 10vh 0;
  }
}
@media screen and (max-width: 850px) {
  main section.info.infoAPropos .conteneur .text__listPoint--VisStuCode {
    order: 2;
  }
}
@media screen and (max-width: 768px) {
  main section.info.infoAPropos .conteneur {
    grid-template-columns: 100%;
  }
  main section.info.infoAPropos .conteneur__titre {
    text-align: center;
    grid-column: 1;
    grid-row: 1;
  }
  main section.info.infoAPropos .conteneur__start {
    grid-column: 1;
    grid-row: 2;
  }
  main section.info.infoAPropos .conteneur__end {
    grid-column: 1;
    grid-row: 3;
  }
  main section.info.infoAPropos .conteneur__startTwo {
    grid-column: 1;
    grid-row: 4;
  }
  main section.info.infoAPropos .conteneur__endTwo {
    grid-column: 1;
    grid-row: 5;
  }
  main section.info.infoAPropos .conteneur__center {
    text-align: center;
    grid-column: 1;
    grid-row: 6;
  }
  main section.info.infoAPropos .conteneur .text__list--2D {
    grid-template-columns: repeat(auto-fill, minmax(100%, auto));
  }
  main section.info.infoAPropos .conteneur .text__listPoint--VisStuCode {
    order: 2;
  }
  main section.info.infoAPropos .conteneur .text__listPoint--3D {
    grid-column: span 4;
  }
}
.modalConteneur.darkBlue .modalProjet .modal-content {
  background-color: #a90000;
}
.modalConteneur.darkBlue .modalProjet .modal-body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.modalConteneur.darkBlue .modalProjet .modal-body .bottomLink {
  width: 100%;
  height: auto;
}
.modalConteneur.darkBlue .modalProjet .modal-body .bottomLink a .btn {
  justify-self: end;
  margin: 0 10px;
  width: auto;
}
.modalConteneur.darkBlue .modalProjet .modal-body .bottomLink__line {
  width: 100%;
  height: 2px;
  border-radius: 25px;
  background-color: #ffb23e;
  margin: 10px 0;
}
.modalConteneur.darkBlue .modalProjet__title {
  color: #feffdc;
}
.modalConteneur.darkBlue .modalProjet__texte {
  color: #feffdc;
  margin: 1vmin 0;
  font-size: 16px;
}
.modalConteneur.darkBlue .modalProjet__texte em {
  font-style: normal;
  font-weight: bold;
  color: #ffb23e;
}
.modalConteneur.darkBlue .modalProjet__texteTitre {
  color: #feffdc;
  font-size: 24px;
  margin: 2vmin 0 2vmin 2vmin;
  position: relative;
  transition-duration: 0.2s;
}
.modalConteneur.darkBlue .modalProjet__texteTitre em {
  font-style: normal;
  font-weight: bold;
  color: #ffb23e;
}
.modalConteneur.darkBlue .modalProjet__texteTitre::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 2px;
  border-radius: 5px;
  top: 0;
  left: -2vmin;
  background-color: #feffdc;
}
.modalConteneur.darkBlue .modalProjet__texteTitre:hover {
  margin: 2vmin 0 2vmin 3vmin;
}
.modalConteneur.darkBlue .modalProjet__texteTitre:hover::before {
  left: -2vmin;
  width: 6px;
}
.modalConteneur.darkBlue .modalProjet__conteneurLogiciel {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  color: #a90000;
}
.modalConteneur.darkBlue .modalProjet__conteneurLogiciel .logicel {
  min-width: 50px;
  max-width: 200px;
  text-align: center;
  width: 100%;
  margin: 5px;
  padding: 5px;
  background-color: #ffb23e;
  border-radius: 25px;
}
.modalConteneur.darkBlue .modalProjet__conteneurLogiciel .logicel a {
  color: #feffdc;
  text-decoration: none;
}
.modalConteneur.darkBlue .modalProjet__conteneurLogiciel .logicel .imgLogicel {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.modalConteneur.darkBlue .modalProjet__conteneurLogiciel .logicel:hover {
  transform: translateY(-10px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  background-color: #a90000;
}
.modalConteneur.darkBlue .modalProjet__conteneurLogiciel .logicel:hover a {
  color: #ffb23e;
  text-decoration: none;
}
.modalConteneur.darkBlue .modalProjet__img {
  max-width: 1000px;
  width: 100%;
  align-self: center;
  border-radius: 10px;
}
.modalConteneur.darkBlue .modalProjet__youtube {
  max-width: 1000px;
  width: 100%;
  aspect-ratio: 16/9;
  align-self: center;
  border-radius: 10px;
}
.modalConteneur.darkBlue .modalProjet__btn {
  border: none;
  color: #ffb23e;
  background-color: #a90000;
  border: 1px solid #ffb23e;
}
.modalConteneur.darkBlue .modalProjet__btn:hover {
  background-color: #ffb23e;
  color: #a90000;
}
.modalConteneur.darkBlue .modalProjet__btn.btn-close {
  position: relative;
  align-self: start;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modalConteneur.darkBlue .modalProjet__btn.btn-close::after {
  content: "X";
  font-weight: bolder;
  font-size: 150%;
}
.modalConteneur.darkBlue .modalProjet__btn.btn-close:hover::after {
  content: "";
}
.modalConteneur.darkBlue .modalProjet .modal-content {
  background-image: linear-gradient(#004dc1, #009d9d, #004dc1);
}
.modalConteneur.darkBlue .modalProjet .modal-body .bottomLink__line {
  background-color: #004dc1;
}
.modalConteneur.darkBlue .modalProjet__title {
  color: #56ffff;
}
.modalConteneur.darkBlue .modalProjet__conteneurLogiciel {
  color: #56ffff;
}
.modalConteneur.darkBlue .modalProjet__conteneurLogiciel .logicel {
  background-color: #004dc1;
}
.modalConteneur.darkBlue .modalProjet__conteneurLogiciel .logicel a {
  color: #56ffff;
}
.modalConteneur.darkBlue .modalProjet__conteneurLogiciel .logicel:hover {
  background-color: #56ffff;
}
.modalConteneur.darkBlue .modalProjet__conteneurLogiciel .logicel:hover a {
  color: #004dc1;
}
.modalConteneur.darkBlue .modalProjet__texte {
  color: #56ffff;
}
.modalConteneur.darkBlue .modalProjet__texte em {
  color: #004dc1;
}
.modalConteneur.darkBlue .modalProjet__texteTitre {
  color: #56ffff;
}
.modalConteneur.darkBlue .modalProjet__texteTitre em {
  color: #004dc1;
}
.modalConteneur.darkBlue .modalProjet__texteTitre::before {
  background-color: #56ffff;
}
.modalConteneur.darkBlue .modalProjet__btn {
  border: none;
  color: #004dc1;
  background-color: #56ffff;
}
.modalConteneur.darkBlue .modalProjet__btn:hover {
  background-color: #004dc1;
  color: #56ffff;
  border: 1px solid #56ffff;
}
.modalConteneur.darkBlue .modalProjet__btn.btn-close::after {
  content: "";
  font-weight: bolder;
}
.modalConteneur.darkBlue .modalProjet__btn.btn-close:hover::after {
  content: "X";
  font-size: 150%;
}

.modalProjet .modal-content {
  background-color: #a90000;
}
.modalProjet .modal-body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.modalProjet .modal-body .bottomLink {
  width: 100%;
  height: auto;
}
.modalProjet .modal-body .bottomLink a .btn {
  justify-self: end;
  margin: 0 10px;
  width: auto;
}
.modalProjet .modal-body .bottomLink__line {
  width: 100%;
  height: 2px;
  border-radius: 25px;
  background-color: #ffb23e;
  margin: 10px 0;
}
.modalProjet__title {
  color: #feffdc;
}
.modalProjet__texte {
  color: #feffdc;
  margin: 1vmin 0;
  font-size: 16px;
}
.modalProjet__texte em {
  font-style: normal;
  font-weight: bold;
  color: #ffb23e;
}
.modalProjet__texteTitre {
  color: #feffdc;
  font-size: 24px;
  margin: 2vmin 0 2vmin 2vmin;
  position: relative;
  transition-duration: 0.2s;
}
.modalProjet__texteTitre em {
  font-style: normal;
  font-weight: bold;
  color: #ffb23e;
}
.modalProjet__texteTitre::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 2px;
  border-radius: 5px;
  top: 0;
  left: -2vmin;
  background-color: #feffdc;
}
.modalProjet__texteTitre:hover {
  margin: 2vmin 0 2vmin 3vmin;
}
.modalProjet__texteTitre:hover::before {
  left: -2vmin;
  width: 6px;
}
.modalProjet__conteneurLogiciel {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  color: #a90000;
}
.modalProjet__conteneurLogiciel .logicel {
  min-width: 50px;
  max-width: 200px;
  text-align: center;
  width: 100%;
  margin: 5px;
  padding: 5px;
  background-color: #ffb23e;
  border-radius: 25px;
}
.modalProjet__conteneurLogiciel .logicel a {
  color: #feffdc;
  text-decoration: none;
}
.modalProjet__conteneurLogiciel .logicel .imgLogicel {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.modalProjet__conteneurLogiciel .logicel:hover {
  transform: translateY(-10px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  background-color: #a90000;
}
.modalProjet__conteneurLogiciel .logicel:hover a {
  color: #ffb23e;
  text-decoration: none;
}
.modalProjet__img {
  max-width: 1000px;
  width: 100%;
  align-self: center;
  border-radius: 10px;
}
.modalProjet__youtube {
  max-width: 1000px;
  width: 100%;
  aspect-ratio: 16/9;
  align-self: center;
  border-radius: 10px;
}
.modalProjet__btn {
  border: none;
  color: #ffb23e;
  background-color: #a90000;
  border: 1px solid #ffb23e;
}
.modalProjet__btn:hover {
  background-color: #ffb23e;
  color: #a90000;
}
.modalProjet__btn.btn-close {
  position: relative;
  align-self: start;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modalProjet__btn.btn-close::after {
  content: "X";
  font-weight: bolder;
  font-size: 150%;
}
.modalProjet__btn.btn-close:hover::after {
  content: "";
}

@media screen and (max-width: 768px) {
  .modalProjet {
    width: 100vw;
  }
  .modalProjet__title {
    font-size: 48px;
    width: 80%;
  }
  .modalProjet__texte {
    font-size: 24px;
  }
  .modalProjet__texteTitre {
    font-size: 32px;
  }
}
main.darkBlue {
  background-color: #004dc1;
}
main.darkBlue .errorPageNotFound .pointer {
  background-image: radial-gradient(#56ffff, #010023);
  animation-name: pointerAnimationDark;
}
main.darkBlue .errorPageNotFound .errorWindow {
  background-color: #004dc1;
}
main.darkBlue .errorPageNotFound .errorWindow .btnPageIndex {
  margin-left: 0.5em;
  border-radius: 25px;
  background-color: #56ffff;
  border: none;
  color: #001496;
}
main.darkBlue .errorPageNotFound .errorWindow .btnPageIndex:hover {
  background-color: #009d9d;
  border: 1px solid #56ffff;
  color: #010023;
}
main.darkBlue .errorPageNotFound .errorWindow .btnPageIndex:hover a {
  color: #56ffff;
}
main.darkBlue .errorPageNotFound .errorWindow .btnPageIndex:active {
  background-image: linear-gradient(to top, #56ffff, rgba(0, 0, 0, 0));
}
main.darkBlue .errorPageNotFound .errorWindow .btnPageIndex:active a {
  color: #001496;
}
main.darkBlue .errorPageNotFound .errorWindow .btnPageIndex a {
  color: #001496;
}

main {
  z-index: 100;
  background-color: #ffb23e;
  width: 100vw;
  min-height: 100vh;
  overflow: hidden;
}
main .errorPageNotFound {
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
}
main .errorPageNotFound .pointer {
  z-index: 1;
  background-image: radial-gradient(#a90000, #feffdc);
  background-blend-mode: multiply;
  background-position: center, 40% 10%;
  background-size: 100%, 200%;
  height: 300px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  transform-origin: center;
  position: absolute;
  animation-name: pointerAnimation;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  animation-direction: alternate;
  overflow: hidden;
}
main .errorPageNotFound .pointer img {
  opacity: 0.5;
  width: 200%;
  right: -60%;
  top: -30px;
  position: absolute;
}
main .errorPageNotFound .errorWindow {
  z-index: 2;
  background-color: #ffeb69;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  mix-blend-mode: screen;
  width: 100%;
  height: 100%;
}
main .errorPageNotFound .errorWindow h1 {
  text-align: center;
  font-size: 70vmin;
  line-height: 60vmin;
  color: #000;
}
main .errorPageNotFound .errorWindow p.text {
  color: #000;
  font-size: 5vmin;
}
main .errorPageNotFound .errorWindow .btnPageIndex {
  display: flex;
  align-items: center;
  margin-left: 0.5em;
  border-radius: 25px;
  background-color: #a90000;
  border: none;
  color: #ffeb69;
}
main .errorPageNotFound .errorWindow .btnPageIndex a {
  font-family: "BebasNeue";
  font-size: 4vmin;
  line-height: 6vmin;
}
main .errorPageNotFound .errorWindow .btnPageIndex:hover {
  background-color: #ff6262;
  border: 1px solid #a90000;
  color: #feffdc;
}
main .errorPageNotFound .errorWindow .btnPageIndex:hover a {
  color: #a90000;
}
main .errorPageNotFound .errorWindow .btnPageIndex:active {
  background-image: linear-gradient(to top, #a90000, rgba(0, 0, 0, 0));
}
main .errorPageNotFound .errorWindow .btnPageIndex:active a {
  color: #ffeb69;
}
main .errorPageNotFound .errorWindow .btnPageIndex a {
  color: #ffeb69;
}

@media screen and (max-width: 768px) {
  main .errorPageNotFound {
    max-width: none;
  }
  main .errorPageNotFound .errorWindow h1 {
    font-size: 60vmin;
  }
}
@keyframes pointerAnimation {
  0% {
    height: 25vh;
    border: 5vmin solid #a90000;
  }
  90% {
    height: 80vh;
    border: 0 solid #a90000;
  }
  100% {
    height: 80vh;
    border: 0 solid #a90000;
  }
}
@keyframes pointerAnimationDark {
  0% {
    height: 25vh;
    border: 5vmin solid #56ffff;
  }
  90% {
    height: 80vh;
    border: 0 solid #56ffff;
  }
  100% {
    height: 80vh;
    border: 0 solid #56ffff;
  }
}
main .conteneurToggle {
  position: fixed;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 1250px;
  height: auto;
  display: flex;
  justify-content: end;
  z-index: 9;
}
main .conteneurToggle .toggle {
  opacity: 0.8;
  box-shadow: 0 5px 4px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: 0.5s;
  transition-timing-function: ease;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 9;
  width: 100px;
  height: 50px;
  background-color: #ffb23e;
  border-radius: 25px;
}
main .conteneurToggle .toggle:hover {
  opacity: 1;
}
main .conteneurToggle .toggle__slider {
  cursor: pointer;
  transition: 0.5s;
  transition-timing-function: ease;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  height: 80%;
  aspect-ratio: 1/1;
  background-color: #feffdc;
}
main .conteneurToggle .toggle__slider .checkbox {
  cursor: pointer;
  opacity: 0;
  width: 100%;
  aspect-ratio: 1/1;
}

main.darkBlue .toggle {
  background-color: #004dc1;
}
main.darkBlue .toggle__slider {
  background-color: #010023;
}

@media screen and (max-height: 900px) {
  main .conteneurToggle {
    top: 110px;
  }
  main .conteneurToggle .toggle {
    margin-right: 1em;
  }
}
@media screen and (min-height: 1000px) {
  main .conteneurToggle {
    top: 12vh;
  }
  main .conteneurToggle .toggle {
    margin-right: 1em;
  }
}
@media screen and (max-width: 768px) {
  main .conteneurToggle .toggle {
    margin-right: 1em;
  }
}
@font-face {
  font-family: "Lostar";
  src: url(./medias/fonts/lostar/Lostar.ttf) format(truetype);
}
@font-face {
  font-family: "BebasNeue";
  src: url(./medias/fonts/Bebas_Neue/BebasNeue-Regular.ttf) format(truetype);
}
@font-face {
  font-family: "TitilliumLight";
  src: url(./medias/fonts/Titillium_Web/TitilliumWeb-Light.ttf) format(truetype);
}
body {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}
body main {
  width: 100%;
}

/*-- Dark --*/
main.darkBlue .text__important {
  color: #56ffff;
  background-color: #004dc1;
}
main.darkBlue section.info {
  background-image: linear-gradient(to bottom, #010023, #004dc1);
}
main.darkBlue h1, main.darkBlue p.text {
  color: #56ffff;
}
main.darkBlue .sprite {
  margin: auto;
  width: 20vw;
  aspect-ratio: 1/1;
  border-radius: 50%;
  /* Styles pour l'image d'arrière plan */
  background-image: url(./medias/img/spritesheet-v2-256px.jpg);
  /* Styles pour l'animation */
  animation-play-state: play;
  background-size: 4800% 100%;
  animation-name: marche;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: steps(48);
  background-image: url(./medias/img/spritesheet-v2-256px-blue.webp);
}

/*---Tout----*/
h1, .h1 {
  font-family: "BebasNeue";
  letter-spacing: 0.1em;
}

.text {
  font-family: "TitilliumLight";
  font-size: 20px;
}
.text__important {
  color: #a90000;
  text-decoration: none;
  font-style: normal;
  background-color: #ffb23e;
}

.info p.text {
  color: #000;
}

a, .a {
  text-decoration: none;
}

.btnModal {
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

footer {
  z-index: 1000;
}

.sprite {
  margin: auto;
  width: 20vw;
  aspect-ratio: 1/1;
  border-radius: 50%;
  /* Styles pour l'image d'arrière plan */
  background-image: url(./medias/img/spritesheet-v2-256px.jpg);
  /* Styles pour l'animation */
  animation-play-state: play;
  background-size: 4800% 100%;
  animation-name: marche;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: steps(48);
}

/*----Info de base----*/
section.info {
  background-image: linear-gradient(to top, #ffb23e, #ffeb69);
  min-height: 50vh;
}

/*
section.info .card img {
    min-width: 15vw;
    min-height: 15vw;
    max-width: 50vw;
    max-height: 50vw;
    margin: auto;
    //aspect-ratio: 1/1;
}
*/
/*
section.info .card .iconPage {
    min-width: 15vw;
    min-height: 15vw;
    max-width: 50vw;
    max-height: 50vw;
    margin: auto;
}
*/
section.info .card .iconPage {
  width: 100%;
}
section.info .card .iconPage .illustrationIcon {
  width: 100%;
  aspect-ratio: 1/1;
}
section.info .card .iconPage .illustrationIcon svg {
  width: 100%;
  aspect-ratio: 1/1;
}
section.info .card .iconSVGWeb {
  align-self: center;
  width: 100%;
  aspect-ratio: 1/1;
}

/*---Media query---*/
@media screen and (min-width: 2000px) {
  section.info .card .sprite {
    width: 100%;
    max-width: 15vw;
  }
  section.info .card .iconPage .illustrationIcon {
    width: 100%;
  }
  .hero.page {
    background-size: 80%, 100%;
  }
}
@media screen and (max-width: 1200px) {
  .navigationAccueil .lien a.lienPage, .navigationAccueil .lienPage.logoNav {
    font-size: 1.1em;
  }
  section.info .sprite {
    min-width: 25vw;
    max-width: 40vw;
  }
  section.info .card .iconSVGWeb {
    width: 80%;
  }
}
@media screen and (max-width: 768px) {
  .navigationAccueil {
    height: 10vh;
    padding: 0 5vw;
  }
  .logoNav {
    display: none;
  }
  .navigationAccueil .lien {
    display: none;
  }
  .dropbtn {
    display: inline-block;
  }
  h1, .h1 {
    font-size: 3em;
  }
  p.text {
    font-size: 18px;
  }
  /*--Section info page accueil--*/
  section.info .card .iconSVGWeb {
    width: 45vw;
  }
  section.info .card .sprite {
    width: 45vw;
  }
  section.info .card .iconPage {
    width: 100%;
  }
  section.info .card .iconPage .illustrationIcon {
    width: 80%;
    aspect-ratio: 1/1;
  }
  section.info .card .iconPage .illustrationIcon svg {
    width: 100%;
    aspect-ratio: 1/1;
  }
}/*# sourceMappingURL=style.css.map */