@charset "UTF-8";
/* Couleur Original
$lightYellow: #feffdc;
$Maize: #ffeb69;
$OrangeWeb: #ffb23e; 
$Bittersweet: #ff6262;
$TurkeyRed: #a90000;
$red: rgb(255, 51, 51);
*/
/*Changment de couleur svg*/
.iconPage svg .cls-1.lineSVG {
  fill: #ffb23e;
}

.iconPage svg .cls-2.lineSVG {
  fill: #ffeb69;
}

.iconPage svg .cls-3.lineSVG {
  fill: #feffdc;
}

.iconPage svg .lineSVGTwo {
  stroke: #a90000;
  stroke-width: 0;
}

.iconPage svg .cls-1.lineSVGTwo {
  fill: #ffb23e;
}

.iconPage svg .cls-2.lineSVGTwo {
  fill: #a90000;
}

.iconPage svg .cls-3.lineSVGTwo {
  fill: #ff6262;
}

.illustrationIcon .cls-1, .cls-2 {
  fill: #a90000;
}

.illustrationIcon .cls-3 {
  fill: #ffeb69;
}

.illustrationIcon .cls-4 {
  fill: url(#Dégradé_sans_nom_15);
}

.illustrationIcon .cls-5, .illustrationIcon .cls-6, .illustrationIcon .cls-2 {
  stroke: #a90000;
  stroke-miterlimit: 10;
}

.illustrationIcon .cls-5, .illustrationIcon .cls-7 {
  fill: rgb(255, 51, 51);
}

.illustrationIcon .cls-6 {
  fill: #ffb23e;
}

.iconPage .iconEdit {
  fill: #feffdc;
}

/*Fin changment de couleur svg*/
/*-------Navigation--------*/
.bgNav {
  z-index: 10;
  position: fixed;
  width: 100vw;
  min-height: 10vh;
  height: auto;
  background-image: linear-gradient(to right, #a90000, #ff6262);
  display: flex;
  align-items: center;
}
.bgNav .navigationAccueil {
  height: 100%;
  width: calc(100% - 1vw);
  max-width: 1300px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  padding: 0 1vw;
  /*--Text--*/
  font-family: "BebasNeue";
  letter-spacing: 0.1em;
}
.bgNav .navigationAccueil .logos {
  height: 100%;
  display: flex;
  align-items: center;
}
.bgNav .navigationAccueil .logos .logoNav, .bgNav .navigationAccueil .logos .logoNavMobile {
  align-self: center;
  justify-self: start;
  font-size: 24px;
}
.bgNav .navigationAccueil .logos .lienPage.logoNavMobile {
  display: none;
}
.bgNav .navigationAccueil .lien {
  width: 100%;
  justify-self: flex-end;
  display: flex;
  justify-content: space-between;
}
.bgNav .navigationAccueil .lien a.lienPage {
  text-align: center;
  width: auto;
  font-size: 1.5em;
  padding: 0 0.5vw;
  color: #feffdc;
  text-decoration: none;
  font-weight: bold;
  position: relative;
  align-self: center;
}
.bgNav .navigationAccueil .lien a.lienPage::after, .bgNav .navigationAccueil .lien a.lienPage::before {
  content: "";
  display: inline-block;
  position: absolute;
  bottom: -0.3vh;
  left: 0;
  width: 100%;
  height: 0.3vh;
  background-color: #feffdc;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}
.bgNav .navigationAccueil .lien a.lienPage::before {
  bottom: auto;
  top: 0;
}
.bgNav .navigationAccueil .lien a.lienPage:hover::after, .bgNav .navigationAccueil .lien a.lienPage:hover::before {
  transform: scaleX(1);
}
.bgNav .navigationAccueil .lienPage.logoNav, .bgNav .navigationAccueil .lienPage.logoNavMobile {
  font-size: 1.5em;
  padding: 0 0.5vw;
  color: #feffdc;
  text-decoration: none;
  font-weight: bold;
  position: relative;
  align-self: center;
}

/*----Code de w3School----*/
/* Dropdown Button */
.dropbtn {
  background-color: #a90000;
  color: #feffdc;
  border: none;
  display: none;
  border-radius: 10px;
  padding: 15px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  border-radius: 10px;
  display: none;
  position: absolute;
  background-color: #feffdc;
  min-width: 15vw;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: #a90000;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ffeb69;
  border-radius: 10px;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: var(--Bittersweet);
}

/*----Fin Code de w3School----*/
@media screen and (max-width: 768px) {
  .bgNav .navigationAccueil {
    grid-template-columns: 60% 40%;
    grid-template-rows: auto;
  }
  .bgNav .navigationAccueil .logos {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
  }
  .bgNav .navigationAccueil .logos .logoNavMobile.lienPage {
    display: inline;
    width: auto;
    grid-column: 1;
    grid-row: 1;
    font-size: 36px;
  }
  .bgNav .navigationAccueil .lien {
    display: none;
  }
  .bgNav .navigationAccueil .dropdown {
    display: grid;
    grid-column: 100%;
    grid-template-rows: 100% auto;
    padding: 2vmin 0;
  }
  .bgNav .navigationAccueil .dropdown .dropbtn {
    grid-column: 1;
    width: 100%;
    font-size: 20px;
  }
  .bgNav .navigationAccueil .dropdown .dropdown-content {
    grid-column: 1;
    grid-row: 2;
  }
  .bgNav .navigationAccueil .dropdown .dropdown-content a {
    font-size: 20px;
  }
}
/*-------Section Hero--------*/
.hero {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  height: auto;
  background-image: url(./medias/img/dessin_papier/dessin-1.JPG), radial-gradient(#ff6262, #ffeb69);
  background-size: cover, 100%;
  background-repeat: no-repeat, no-repeat;
  background-position: 50% 20%, left;
  background-blend-mode: multiply;
}
.hero .conteneur {
  margin-top: 50px;
  height: auto;
  min-height: 100vh;
  padding: 10vh 0;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1200px;
  display: grid;
  grid-template-columns: 60% 40%;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.hero .conteneur .infoHero {
  height: auto;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 25px;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  color: #feffdc;
}
.hero .conteneur .infoHero .contact {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.hero .conteneur .infoHero .contact button {
  margin-left: 0.5em;
  border-radius: 25px;
  background-color: #ffeb69;
  border: none;
  color: #a90000;
}
.hero .conteneur .infoHero .contact button:hover {
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #ffeb69;
  color: #ffeb69;
}
.hero .conteneur .infoHero .contact button:hover a {
  color: #ffeb69;
}
.hero .conteneur .infoHero .contact button:active {
  background-image: linear-gradient(to top, #ffb23e, rgba(0, 0, 0, 0));
}
.hero .conteneur .infoHero .contact button a {
  color: #a90000;
}
.hero .conteneur .photoVGContainer {
  order: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero .titre--hero {
  font-size: 16vmin;
  color: #feffdc;
  text-align: center;
  text-shadow: 5px 5px #a90000;
}
.hero__conteneurIcon {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18vmin, auto));
  gap: 2vmin;
}
.hero__conteneurIcon .iconPage {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  /*height: 100%;
  width: 10vw;*/
  aspect-ratio: 1/1;
  background-image: radial-gradient(#ff6262 10%, #ffb23e);
  background-size: 100%;
  border-radius: 50%;
  text-align: center;
}
.hero__conteneurIcon .iconPage:hover {
  background-image: radial-gradient(#ff6262 50%, #ffb23e);
}
.hero__conteneurIcon .iconPage svg {
  width: 50%;
  aspect-ratio: 1/1;
  transition: width 0.25s ease-out;
}
.hero__conteneurIcon .iconPage svg:hover {
  width: 75%;
}
.hero__conteneurIcon .iconPage svg:active {
  width: 60%;
}
.hero__conteneurIcon .iconPage svg .lineSVG {
  stroke: #a90000;
  stroke-width: 0;
}

@media screen and (max-width: 1200px) {
  .hero {
    height: auto;
  }
  .hero__conteneurIcon {
    display: grid;
    gap: 2vmin;
  }
  .hero__conteneurIcon .iconPage {
    width: 100%;
    height: 100%;
  }
  .hero .conteneur {
    position: relative;
    height: auto;
  }
  .hero .conteneur .infoHero {
    margin: auto;
  }
  .hero .conteneur .infoHero .contact button {
    font-size: 24px;
  }
  .hero .conteneur .photoVGContainer {
    position: relative;
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .hero {
    height: auto;
  }
  .hero .conteneur {
    margin-top: 0;
    height: auto;
    grid-template-columns: 100%;
    grid-template-rows: 40% 60%;
  }
  .hero .conteneur .photoVGContainer {
    grid-row: 1;
    margin-bottom: 6vh;
    display: flex;
    justify-content: center;
  }
  .hero .conteneur .photoVGContainer a {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .hero .conteneur .photoVGContainer a .photoVG {
    width: 50%;
  }
  .hero .conteneur .infoHero {
    grid-row: 2;
  }
  .hero .conteneur .infoHero h1 {
    font-size: 64px;
  }
  .hero .conteneur .infoHero .text {
    font-size: 24px;
  }
  .hero .conteneur .infoHero .contact {
    font-size: 28px;
  }
  .hero__conteneurIcon {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25vw, auto));
    gap: 2vmin;
  }
  .hero__conteneurIcon .iconPage {
    width: 100%;
    height: 100%;
  }
}
.hero.page {
  min-height: 80vh;
}

/*-- Section Hero Page Projet 1 --*/
.hero.page.Projet1 {
  background-image: url(./medias/svg/web-v1.svg), linear-gradient(#ff6262, #ffeb69);
  background-blend-mode: luminosity;
  background-size: 100%, cover;
  background-position: center;
}

/*-- Section Hero Page A propos --*/
.hero.page.APropos {
  background-image: url(./medias/img/photo/me.jpg), linear-gradient(#ff6262, #ffeb69);
  background-blend-mode: luminosity;
}

/*-- Section Hero Page 3D --*/
.hero.page.TroisD {
  background-image: url(./medias/img/icon.png), linear-gradient(#ff6262, #ffeb69);
  background-blend-mode: luminosity;
}

/*-- Section Hero Page Illustration --*/
.hero.page.Illustration {
  background-image: url(./medias/img/dessin_papier/dessin-1.JPG), linear-gradient(#ff6262, #ffeb69);
  background-blend-mode: luminosity;
}

/*-- Section Hero Page Montage --*/
.hero.page.Montage {
  background-image: url(./medias/svg/editing_svg.svg), linear-gradient(#ff6262, #ffeb69);
  background-blend-mode: luminosity;
}

a {
  width: 100%;
}
a .photoVG {
  width: 100%;
  aspect-ratio: 1/1;
  background-image: url(./medias/img/photo/me.jpg), url(./medias/img/icon.png);
  background-repeat: no-repeat, repeat-x;
  background-size: cover, 150%;
  background-position: 100% 30%, center;
  background-blend-mode: luminosity;
  border-radius: 50%;
  border: 1vw solid #ff6262;
  box-shadow: 0 0 1vw #ff6262;
  transition: border 0.1s ease-in, box-shadow 0.2s ease-in-out, background-blend-mode 0.2s ease-in-out;
}
a .photoVG:hover {
  border: 2vw solid #a90000;
  box-shadow: 0 0 3vw #a90000;
  background-blend-mode: normal;
}
a .photoVG:active {
  border-width: 1vw;
}

.info h1.plusInfoIllustrationText {
  text-align: center;
}

.lienPlusIllustration {
  width: 100%;
  padding: 5vh 25vmin;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.lienPlusIllustration .svgSoc {
  margin: 0 2vmin;
  height: 200px;
  position: relative;
  display: flex;
  align-items: center;
  aspect-ratio: 1/1;
  z-index: 5;
}
.lienPlusIllustration .svgSoc svg path {
  transition-duration: 0.2s;
}
.lienPlusIllustration .svgSoc::after {
  content: "";
  display: block;
  z-index: -1;
  width: 0;
  left: 50%;
  transform: translateX(-50%);
  transform-origin: center;
  position: absolute;
  background-color: #ff6262;
  background-size: cover;
  border-radius: 25px;
  transition-duration: 0.2s;
}
.lienPlusIllustration .svgSoc:hover::after {
  width: 105%;
  aspect-ratio: 1/1;
}
.lienPlusIllustration .svgSoc:hover svg .in {
  fill: red;
}
.lienPlusIllustration .svgSoc:hover svg .lineOut {
  stroke-width: 0;
}
.lienPlusIllustration .svgSoc:hover svg .out {
  fill: #fff;
}
.lienPlusIllustration .svgSoc:hover svg .smallCircle {
  fill: #fff;
}
.lienPlusIllustration .svgSoc:hover svg .lineMiddle, .lienPlusIllustration .svgSoc:hover svg .lineIn {
  stroke: #fff;
  stroke-width: 8;
}
.lienPlusIllustration .svgSoc:hover svg .gradientTop {
  stop-color: #344997;
}
.lienPlusIllustration .svgSoc:hover svg .gradientMiddle {
  stop-color: #E71A4A;
}
.lienPlusIllustration .svgSoc:hover svg .gradientBottom {
  stop-color: #F3BF18;
}

.infoIllustration {
  padding: 5vh 25vmin;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(600px, auto));
  grid-template-rows: repeat(auto-fill, minmax(700px, auto));
  gap: 2vmin;
}
.infoIllustration .illustration {
  position: relative;
  background-image: linear-gradient(#a90000, #ff6262);
  padding: 0.5em;
  border-radius: 5px;
  display: flex;
}
.infoIllustration .illustration__img {
  display: block;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 1200px) {
  .infoIllustration {
    grid-template-columns: repeat(auto-fill, minmax(300px, auto));
    grid-template-rows: repeat(auto-fill, minmax(400px, auto));
    padding: 5vh 2vw;
  }
}
@media screen and (max-width: 768px) {
  .lienPlusIllustration .svgSoc {
    height: 120px;
  }
}
/*--Footer---*/
footer {
  background-image: linear-gradient(to right, #ff6262, #a90000);
}

footer {
  padding: 1em 0;
}
footer .conteneur {
  padding: 0 20px;
  margin: auto;
  width: 100%;
  max-width: 1200px;
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 3em 3em;
}
footer .conteneur .lien {
  justify-self: center;
}
footer .conteneur .lien__aLien {
  font-family: "TitilliumLight";
  font-size: 1.1em;
  color: #feffdc;
  text-decoration: none;
  font-style: normal;
}
footer .conteneur .lien__aLien:hover {
  color: #ffeb69;
}
footer .conteneur .credit {
  grid-row: auto;
  grid-column: span 5;
}
footer .conteneur .credit em:hover {
  color: #feffdc;
}

@media screen and (max-width: 768px) {
  footer .conteneur {
    grid-template-columns: 100%;
    grid-template-rows: 3em 3em 3em 3em 3em 3em;
  }
  footer .conteneur .lien--1 {
    grid-row: 1;
  }
  footer .conteneur .lien--2 {
    grid-row: 2;
  }
  footer .conteneur .lien--3 {
    grid-row: 3;
  }
  footer .conteneur .lien--4 {
    grid-row: 4;
  }
  footer .conteneur .lien--5 {
    grid-row: 5;
  }
  footer .conteneur .lien--6 {
    grid-row: 6;
  }
  footer .credit {
    grid-row: 4;
  }
}
@keyframes marche {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 4800% 0;
  }
  /* Note: 19 images x 700px = 13300px */
}
.cardInfoWeb, .cardInfo3D {
  margin-bottom: 5vh;
}
.cardInfoWeb__imgProject, .cardInfo3D__imgProject {
  min-width: 30vw;
  max-width: 60vw;
  aspect-ratio: 16/9;
  margin: auto;
  height: auto;
  border-radius: 6px;
  transition-duration: 0.2s;
  transition-timing-function: linear;
}
.cardInfoWeb__imgProject:hover, .cardInfo3D__imgProject:hover {
  border: 1em solid #a90000;
}

@media screen and (max-width: 1200px) {
  section.infoProjet .card img {
    max-width: 45vw;
    height: auto;
  }
  .cardInfoWeb__imgProject, .cardInfo3D__imgProject {
    min-width: 30vw;
    max-width: 80vw;
    aspect-ratio: 16/9;
    margin: auto;
    height: auto;
  }
}
@media screen and (max-width: 768px) {
  section.infoProjet .card img {
    max-width: 100vw;
    height: auto;
  }
}
section.info.infoAPropos p.text--capacite {
  color: #a90000;
  text-shadow: 0px 0px 5px #feffdc;
}

.modalProjet .modal-content {
  background-color: #a90000;
}
.modalProjet .modal-body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.modalProjet__title {
  color: #feffdc;
}
.modalProjet__texte {
  color: #feffdc;
}
.modalProjet__img {
  width: 100%;
  align-self: center;
}
.modalProjet__youtube {
  width: 100%;
  aspect-ratio: 16/9;
}
.modalProjet__btn {
  border: none;
  color: #ffb23e;
  background-color: #feffdc;
}
.modalProjet__btn:hover {
  background-color: #ffb23e;
  color: #feffdc;
}
.modalProjet__btn.btn-close {
  align-self: start;
}

@media screen and (max-width: 768px) {
  .modalProjet {
    width: 100vw;
  }
  .modalProjet__title {
    font-size: 48px;
    width: 80%;
  }
  .modalProjet__texte {
    font-size: 24px;
  }
}
main .errorPageNotFound {
  height: 100vh;
  background-color: #ffb23e;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .errorPageNotFound h1 {
  font-size: 72px;
  color: #feffdc;
  text-shadow: 2px 2px 10px #a90000;
}

@font-face {
  font-family: "Lostar";
  src: url(./medias/fonts/lostar/Lostar.ttf) format(truetype);
}
@font-face {
  font-family: "BebasNeue";
  src: url(./medias/fonts/Bebas_Neue/BebasNeue-Regular.ttf) format(truetype);
}
@font-face {
  font-family: "TitilliumLight";
  src: url(./medias/fonts/Titillium_Web/TitilliumWeb-Light.ttf) format(truetype);
}
body {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

/*---Tout----*/
h1, .h1 {
  font-family: "BebasNeue";
  letter-spacing: 0.1em;
}

p.text {
  font-family: "TitilliumLight";
  font-size: 20px;
}

.info p.text {
  color: #000;
}

a, .a {
  text-decoration: none;
}

.btnModal {
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

/*--Fixed Btn to top--*/
main button.btnTop {
  position: fixed;
  bottom: 10vmin;
  right: 8vw;
  width: 5vw;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  background-color: #ffeb69;
  padding: 2vw;
  border: 2px solid #a90000;
  border-radius: 100%;
  color: #a90000;
  font-family: "TitilliumLight";
  text-decoration: none;
}

main button.btnTop::after {
  content: "Top";
  align-self: center;
  justify-self: center;
}

main button.btnTop:hover {
  background-color: #ffb23e;
}

.sprite {
  margin: auto;
  width: 20vw;
  aspect-ratio: 1/1;
  border-radius: 50%;
  /* Styles pour l'image d'arrière plan */
  background-image: url(./medias/img/spritesheet-v2-256px.jpg);
  /* Styles pour l'animation */
  animation-play-state: play;
  background-size: 4800% 100%;
  animation-name: marche;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: steps(48);
}

/*----Info de base----*/
section.info {
  background-image: linear-gradient(to top, #ffb23e, #ffeb69);
  min-height: 50vh;
}

/*
section.info .card img {
    min-width: 15vw;
    min-height: 15vw;
    max-width: 50vw;
    max-height: 50vw;
    margin: auto;
    //aspect-ratio: 1/1;
}
*/
section.info .card .iconPage {
  min-width: 15vw;
  min-height: 15vw;
  max-width: 50vw;
  max-height: 50vw;
  margin: auto;
}

section.info .card .iconPage .illustrationIcon {
  width: 100%;
  aspect-ratio: 1/1;
}
section.info .card .iconPage .illustrationIcon svg {
  width: 100%;
  aspect-ratio: 1/1;
}

/*---Media query---*/
@media screen and (min-width: 2000px) {
  section.info .card .sprite {
    width: 15vw;
  }
  .hero.page {
    background-size: 80%, 100%;
  }
}
@media screen and (max-width: 1200px) {
  .navigationAccueil .lien a.lienPage, .navigationAccueil .lienPage.logoNav {
    font-size: 1.1em;
  }
  section.info .sprite {
    min-width: 25vw;
    max-width: 40vw;
  }
  section.info .iconPage {
    width: 25vw;
  }
  main button.btnTop {
    width: 10vw;
  }
}
@media screen and (max-width: 768px) {
  .navigationAccueil {
    height: 10vh;
    padding: 0 5vw;
  }
  main button.btnTop {
    width: 10vw;
    bottom: 20vmin;
  }
  .logoNav {
    display: none;
  }
  .navigationAccueil .lien {
    display: none;
  }
  .dropbtn {
    display: inline-block;
  }
  .hero {
    min-height: 80vh;
  }
  .photoVG {
    margin-top: 4em;
    width: 50vw;
    height: 50vw;
  }
  h1, .h1 {
    font-size: 3em;
  }
  p.text {
    font-size: 18px;
  }
  /*--Section info page accueil--*/
  section.info .iconPage {
    width: 45vw;
  }
  section.info .card .sprite {
    width: 45vw;
  }
  section.info .card .iconPage {
    width: 45vw;
  }
}/*# sourceMappingURL=style.css.map */