@use './partials/variables';
@use './partials/icon';
@use './partials/nav';
@use './partials/hero';
@use './partials/galeriIllustration';
@use './partials/footer';
@use './partials/mixins/spriteAnimation';
@use './partials/imgInfoWeb';
@use './partials/mixins/modal';
@use './partials/aPropos';
@use './partials/infoPage';
@use './partials/pageNotFound';
@use './partials/toggle';

@font-face {
    font-family: 'Lostar';
    src: url(./medias/fonts/lostar/Lostar.ttf) format(truetype);
}

@font-face {
    font-family: 'BebasNeue';
    src: url(./medias/fonts/Bebas_Neue/BebasNeue-Regular.ttf) format(truetype);
}

@font-face {
    font-family: 'TitilliumLight';
    src: url(./medias/fonts/Titillium_Web/TitilliumWeb-Light.ttf) format(truetype);
}


body {
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    main {
        width: 100%;
    }
}

/*-- Dark --*/

main.darkBlue {
    .text {
        &__important {
            color: variables.$TurkeyRed-dark-blue;
            background-color: variables.$OrangeWeb-dark-blue;
        }
    }
    section.info {
        background-image: linear-gradient(to bottom, variables.$lightYellow-dark-blue, variables.$OrangeWeb-dark-blue);
    }
    h1, p.text {
        color: variables.$TurkeyRed-dark-blue;
        em {
            color: variables.$OrangeWeb-dark-blue;
            text-shadow: 0 0 3.5px variables.$OrangeWeb-dark-blue;
            font-weight: bold;
            font-style: normal;
        }
    }
    .sprite {
        
        @include spriteAnimation.spriteAnimation;
        background-image: url(./medias/img/spritesheet-v2-256px-blue.webp);
    }
}

/*---Tout----*/

h1 {
    font-family: 'BebasNeue';
    letter-spacing: 0.1em;
}


.text {
    font-family: 'TitilliumLight';
    font-size: 20px;
}

.info {
    h1 {
        color: variables.$TurkeyRed;
    }
    p.text {
        color: variables.$black;
        em {
            color: variables.$TurkeyRed;
            font-weight: bold;
            font-style: normal;
            letter-spacing: 2px;
        }
        &__important {
            color: variables.$TurkeyRed;
            text-decoration: none;
            font-style: normal;
            background-color: variables.$OrangeWeb;
        }
    }
}


a, .a {
    text-decoration: none;
}

.btnModal {
    background-color: rgba(0,0,0,0);
    border: none;
}

footer {
    z-index: 1000;
}

.sprite {
    @include spriteAnimation.spriteAnimation;
}

/*----Info de base----*/

section.info {
    background-image: linear-gradient(to top, variables.$OrangeWeb, variables.$Maize);
    min-height: 50vh;
}

/*
section.info .card img {
    min-width: 15vw;
    min-height: 15vw;
    max-width: 50vw;
    max-height: 50vw;
    margin: auto;
    //aspect-ratio: 1/1;
}
*/
/*
section.info .card .iconPage {
    min-width: 15vw;
    min-height: 15vw;
    max-width: 50vw;
    max-height: 50vw;
    margin: auto;
}
*/
section.info .card {
    .iconPage {
        width: 100%;
        .illustrationIcon {
            width: 100%;
            aspect-ratio: 1/1;
            svg {
                width: 100%;
                aspect-ratio: 1/1;
            }
        }
    }
    .iconSVGWeb {
        align-self: center;
        width: 100%;
        aspect-ratio: 1/1;
    }
}

/*---Media query---*/

@media screen and (min-width: 2000px) {
    section.info .card .sprite {
        width: 100%;
        max-width: 15vw;
    }

    section.info .card .iconPage .illustrationIcon {
        width: 100%;
    }

    .hero.page {
        background-size: 80%, 100%;
    }
}

@media screen and (max-width: 1200px) {
    .navigationAccueil .lien a.lienPage, .navigationAccueil .lienPage.logoNav {
        font-size: 1.1em;
    }

    section.info .sprite {
        min-width: 25vw;
        max-width: 40vw;
    }

    section.info .card .iconSVGWeb {
        width: 80%;
    }
}

@media screen and (max-width: 768px) {
    .navigationAccueil {
        height: 10vh;
        padding: 0 5vw;
    }

    .logoNav {
        display: none;
    }

    .navigationAccueil .lien {
        display: none;
    }

    .dropbtn {
        display: inline-block;
    }

    

    h1, .h1 {
        font-size: 3em;
    }

    p.text {
        font-size: 18px;
    }

    /*--Section info page accueil--*/

    section.info .card .iconSVGWeb {
        width: 45vw;
    }

    section.info .card .sprite {
        width: 45vw;
    }
    section.info .card {
        .iconPage {
            width: 100%;
            .illustrationIcon {
                width: 80%;
                aspect-ratio: 1/1;
                svg {
                    width: 100%;
                    aspect-ratio: 1/1;
                }
            }
        }
    }
}

