@use './partials/variables';
@use './partials/icon';
@use './partials/nav';
@use './partials/hero';
@use './partials/galeriIllustration';
@use './partials/footer';
@use './partials/mixins/spriteAnimation';
@use './partials/imgInfoWeb';
@use './partials/mixins/modal';
@use './partials/aPropos';
@use './partials/infoPage';
@use './partials/pageNotFound';
@use './partials/toggle';

@font-face {
    font-family: 'Lostar';
    src: url(./medias/fonts/lostar/Lostar.ttf) format(truetype);
}

@font-face {
    font-family: 'BebasNeue';
    src: url(./medias/fonts/Bebas_Neue/BebasNeue-Regular.ttf) format(truetype);
}

@font-face {
    font-family: 'TitilliumLight';
    src: url(./medias/fonts/Titillium_Web/TitilliumWeb-Light.ttf) format(truetype);
}


body {
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    main {
        width: 100%;
    }
}

/*-- Dark --*/

main.darkBlue {
    .text {
        &__important {
            color: variables.$TurkeyRed-dark-blue;
            background-color: variables.$OrangeWeb-dark-blue;
        }
    }
    section.info {
        background-image: linear-gradient(to top, variables.$OrangeWeb-dark-blue, variables.$Maize-dark-blue);
    }
    h1, p.text {
        color: variables.$TurkeyRed-dark-blue;
    }
}

/*---Tout----*/

h1, .h1 {
    font-family: 'BebasNeue';
    letter-spacing: 0.1em;
}


.text {
    font-family: 'TitilliumLight';
    font-size: 20px;
    &__important {
        color: variables.$TurkeyRed;
        text-decoration: none;
        font-style: normal;
        background-color: variables.$OrangeWeb;
    }
}

.info {
    p.text {
        color: variables.$black;
    }
}


a, .a {
    text-decoration: none;
}

.btnModal {
    background-color: rgba(0,0,0,0);
    border: none;
}

footer {
    z-index: 100;
}

.sprite {
    @include spriteAnimation.spriteAnimation;
}

/*----Info de base----*/

section.info {
    background-image: linear-gradient(to top, variables.$OrangeWeb, variables.$Maize);
    min-height: 50vh;
}

/*
section.info .card img {
    min-width: 15vw;
    min-height: 15vw;
    max-width: 50vw;
    max-height: 50vw;
    margin: auto;
    //aspect-ratio: 1/1;
}
*/

section.info .card .iconPage {
    min-width: 15vw;
    min-height: 15vw;
    max-width: 50vw;
    max-height: 50vw;
    margin: auto;
}

section.info .card .iconPage .illustrationIcon {
    width: 100%;
    aspect-ratio: 1/1;
    svg {
        width: 100%;
        aspect-ratio: 1/1;
    }
}

/*---Media query---*/

@media screen and (min-width: 2000px) {
    section.info .card .sprite {
        width: 15vw;
    }

    .hero.page {
        background-size: 80%, 100%;
    }
}

@media screen and (max-width: 1200px) {
    .navigationAccueil .lien a.lienPage, .navigationAccueil .lienPage.logoNav {
        font-size: 1.1em;
    }

    section.info .sprite {
        min-width: 25vw;
        max-width: 40vw;
    }

    section.info .iconPage {
        width: 25vw;
    }

    main button.btnTop  {
        width: 10vw;
    }
}

@media screen and (max-width: 768px) {
    .navigationAccueil {
        height: 10vh;
        padding: 0 5vw;
    }

    main button.btnTop  {
        width: 10vw;
        bottom: 20vmin;
    }

    .logoNav {
        display: none;
    }

    .navigationAccueil .lien {
        display: none;
    }

    .dropbtn {
        display: inline-block;
    }

    

    h1, .h1 {
        font-size: 3em;
    }

    p.text {
        font-size: 18px;
    }

    /*--Section info page accueil--*/

    section.info .iconPage {
        width: 45vw;
    }

    section.info .card .sprite {
        width: 45vw;
    }

    section.info .card .iconPage {
        width: 45vw;
    }
}

