@use '../variables';

@mixin modal {
    .modal-content {
        background-image: linear-gradient(variables.$TurkeyRed, variables.$red);
    }

    .headModal {
        height: 200px;
        width: 100%;
        padding: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .btn-close {
            padding: 10px;
        }
    }

    .modal-body {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        .bottomLink {
            width: 100%;
            height: auto;
            a {
                .btn {
                    justify-self: end;
                    margin: 3px 10px;
                    width: auto;
                }
            }
            &__line {
                width: 100%;
                height: 2px;
                border-radius: 25px;
                background-color: variables.$OrangeWeb;
                margin: 10px 0;
            }
        }
    }

    &__title {
        color: variables.$lightYellow;
    }

    &__texte {
        color: variables.$lightYellow;
        margin: 1vmin 0;
        font-size: 16px;
        em {
            font-style: normal;
            font-weight: bold;
            color: variables.$OrangeWeb;
            text-shadow: 3px 3px 2px variables.$TurkeyRed;
        }
        &--important {
            background-color: variables.$OrangeWeb;
            padding: 5px;
        }
    }

    &__texteTitre {
        color: variables.$lightYellow;
        font-size: 24px;
        margin: 2vmin 0 2vmin 2vmin;
        position: relative;
        transition-duration: 0.2s;
        em {
            font-style: normal;
            font-weight: bold;
            color: variables.$OrangeWeb;
            text-shadow: 3px 3px 2px variables.$TurkeyRed;
        }
        &::before {
            content: '';
            position: absolute;
            height: 100%;
            width: 2px;
            border-radius: 5px;
            top: 0;
            left: -2vmin;
            background-color: variables.$lightYellow;
        }
        &:hover {
            margin: 2vmin 0 2vmin 3vmin;
            &::before {
                left: -2vmin;
                width: 6px;
            }
        }
    }

    &__conteneurLogiciel {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;
        color: variables.$TurkeyRed;
        .logicel {
            min-width: 50px;
            max-width: 200px;
            text-align: center;
            width: 100%;
            margin: 5px;
            padding: 5px;
            background-color: variables.$OrangeWeb;
            border-radius: 25px;
            a {
                color: variables.$lightYellow;
                text-decoration: none;
            }
            .imgLogicel {
                width: 90%;
                aspect-ratio: 1/1;
                border-radius: 25px;
                object-fit: contain;
            }
            &:hover {
                transform: translateY(-10px);
                box-shadow: 0 5px 10px rgba(0,0,0, 0.5);
                background-color: variables.$TurkeyRed;
                
                a {
                    color: variables.$OrangeWeb;
                    text-decoration: none;
                }
            }
        }
    }

    &__img {
        margin: 1vmin 0;
        max-width: 1000px;
        width: 100%;
        align-self: center;
        border-radius: 10px;
    }

    &__youtube {
        max-width: 1000px;
        width: 100%;
        aspect-ratio: 16/9;
        align-self: center;
        border-radius: 10px;
    }

    &__btn { 
        color: variables.$OrangeWeb;
        background-color: variables.$TurkeyRed;
        border: 1px solid variables.$OrangeWeb;
        &:hover {
            background-color: variables.$OrangeWeb;
            color: variables.$TurkeyRed;
        }
    }
    &__btn.btn-close {
        position: relative;
        align-self: start;
        display: flex;
        align-items: center;
        justify-content: center;
        &::after {
            content: 'X';
            font-weight: bolder;
            font-size: 150%;
        }
        &:hover::after {
            content: '';
        }
    }
}

@mixin modalDark {
    .modal-content {
        background-image: linear-gradient(variables.$OrangeWeb-dark-blue, variables.$Bittersweet-dark-blue) ;
    }

    .modal-body {
        .bottomLink {
            &__line {
                background-color: variables.$OrangeWeb-dark-blue;
            }
        }
    }

    &__title {
        color: variables.$TurkeyRed-dark-blue;
    }

    &__conteneurLogiciel {
        color: variables.$TurkeyRed-dark-blue;
        .logicel {
            background-color: variables.$OrangeWeb-dark-blue;
            a {
                color: variables.$TurkeyRed-dark-blue;
            }
            &:hover {
                background-color: variables.$TurkeyRed-dark-blue;
                
                a {
                    color: variables.$OrangeWeb-dark-blue;
                }
            }
        }
    }

    &__texte {
        color: variables.$TurkeyRed-dark-blue;
        em {
            color: variables.$TurkeyRed-lignter-dark-blue;
            text-shadow: 3px 3px 2px variables.$OrangeWeb-dark-blue;
        }
        &--important {
            color: variables.$OrangeWeb-dark-blue;
            background-color: variables.$TurkeyRed-dark-blue;
        }
    }

    &__texteTitre {
        color: variables.$TurkeyRed-dark-blue;
        em {
            color: variables.$TurkeyRed-lignter-dark-blue;
            text-shadow: 3px 3px 2px variables.$OrangeWeb-dark-blue;
        }
        &::before {
            background-color: variables.$TurkeyRed-dark-blue;
        }
    }

    &__btn {
        border: none;
        color: variables.$OrangeWeb-dark-blue;
        background-color: variables.$TurkeyRed-dark-blue;
        &:hover {
            background-color: variables.$OrangeWeb-dark-blue;
            color: variables.$TurkeyRed-dark-blue;
            border: 1px solid variables.$TurkeyRed-dark-blue;
        }
    }
    
    &__btn.btn-close {
        &::after {
            content: '';
            font-weight: bolder;
        }
        &:hover::after {
            content: 'X';
            font-size: 150%;
        }
    }
}

@mixin modalMobile {
    .modal-body {
        .bottomLink {
            a {
                .btn {
                    margin: 8px 10px;
                    font-size: 24px;
                }
            }
        }
    }
    &__title {
        font-size: 48px;
        width: 80%;
    }
    &__texte {
        font-size: 18px;
    }

    &__texteTitre {
        font-size: 32px;
    }
}